@(localUser: models.security.User = null)
@import admin.wrapper
@wrapper(localUser, "camps", "addCamp") {

<h3><i class="fas fa-angle-right"></i> Camp Database</h3>
<div class="row mt">
    <div class="col-lg-12">
        <div class="form-panel">
            <h4 class="mb"><i class="fas fa-angle-right"></i> Add New Camp</h4>
            <form action="@routes.Admin.addCamp()" method="post" class="form-horizontal style-form">
                <label>Title:</label><br/><input type="text" name="title" class="form-control" required /><br/>
                <label>Start Date:</label><br/><input name="startDate" id="datepicker1" class="form-control" required /><br/>
                <label>End Date:</label><br/><input name="endDate" id="datepicker2" class="form-control" required /><br/>
                <label>Registration End Date:</label><br/><input name="registrationEndDate" id="datepicker3" class="form-control" required /><br/>
                <label>Maximum Registrations:</label><br/><input type="text" name="maxRegistrations" class="form-control" required /><br/>
                <label>Description:</label><br/><textarea name="description" id="description"></textarea><br/>
                <label>Cost:</label><br/>$<input type="text" name="cost" class="form-control" required /><br/>
                <label>Early Registration Discount:</label><br/>$<input type="text" name="earlyRegistrationDiscount" class="form-control" /><br/>
                <label>Early Registration End Date:</label><br/><input name="earlyRegistrationEndDate" id="datepicker4" class="form-control" /><br/>
                <label>Schedule Description:</label><br/><input type="text" name="scheduleDescription" class="form-control" required /><br/>
                <label>Instructors:</label><br/><input type="text" name="instructors" class="form-control" required /><br/>
                <label>Private Notes:</label><br/><textarea name="privateNotes" id="privateNotes"></textarea><br/>
                <input type="submit" id="submit" value="Add Camp" class="btn btn-theme btn-block"/>
            </form>
        </div>
    </div>
</div>
    <script>
        $(document).ready(function(){
            $("#datepicker1").datepicker({'autoclose': true});
            $("#datepicker2").datepicker({'autoclose': true});
            $("#datepicker3").datepicker({'autoclose': true});
            $("#datepicker4").datepicker({'autoclose': true});
            $("#description").ckeditor({});
        });
    </script>
}
