@(camps: List[models.skatepark.Camp], localUser: models.security.User = null)
@import admin.wrapper
@wrapper(localUser, "camps", "viewCamp") {

<h3><i class="fa fa-angle-right"></i> Camp Database</h3>
<div class="row mb">
    <div class="col-lg-12">
        <div class="form-panel">
            <h4><i class="fa fa-angle-right"></i> Camps</h4>
            <section id="unseen">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Camp</th>
                        <th>Created</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Registration End Date</th>
                        <th>Registrations</th>
                        <th>Cost</th>
                        <th>Schedule</th>
                        <th>Instructors</th>
                        <th>Manual Registration</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for(camp <- camps) {
                        <tr>
                            <td><a href="@routes.Admin.viewCampPage(camp.id)">@camp.title</a></td>
                            <td><span class="timeago" title="@camp.createDate.format("yyyy-MM-dd'T'HH:mmZ")"></span></td>
                            <td>@camp.startDate.format("MM/dd/yyyy")</td>
                            <td>@camp.endDate.format("MM/dd/yyyy")</td>
                            <td>@camp.registrationEndDate.format("MM/dd/yyyy")</td>
                            <td>@camp.registrations.size()/@camp.maxRegistrations</td>
                            <td>@utils.Formatter.prettyDollarsAndCents(camp.cost)</td>
                            <td>@camp.scheduleDescription</td>
                            <td>@camp.instructors</td>
                            <td><a href="@routes.Admin.campRegistrationPage(camp.id)" class="btn btn-success btn-xs">Add New Registration</a></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("span.timeago").timeago();
    });
</script>
}