@(reg: models.skatepark.Registration, localUser: models.security.User = null)
@import admin.wrapper
@wrapper(localUser, "camps", "viewCamp") {

<h3><i class="fa fa-angle-right"></i> Camp Database</h3>
<div class="row mt">
    <div class="col-lg-12">
        <div class="showback">
            <h4><i class="fa fa-angle-right"></i> Existing Camp Registration Info</h4>
            <table class="table table-bordered">
                <tr>
                    <td>Registrant Email</td>
                    <td>Participant Name</td>
                    <td>Current Camp</td>
                    <td>Registration Date</td>
                    <td>Fully Paid?</td>
                    <td>Payment Type</td>
                    <td>Total Paid</td>
                    <td>Notes</td>
                </tr>
                <tr>
                    <td>@reg.registrantEmail
                    <td>@reg.participantName</td>
                    <td><a href="@routes.Admin.viewCampPage(reg.camp.id)">@reg.camp.title</a></td>
                    <td>@reg.timestamp.format("MM/dd/yyyy")</td>
                    <td>@if(reg.paid) {
                        <span class="label label-success">PAID</span>
                        } else {
                        <span class="label label-danger">UNPAID</span>
                        }</td>
                    <td><span class="label label-primary">@reg.paymentType</span></td>
                    <td>@utils.Formatter.prettyDollarsAndCents(reg.totalPaid)</td>
                    <td>
                        <p>Emergency Contacts:<br/>
                            @if(reg.emergencyTelephone) {
                            @reg.emergencyContactName: @reg.emergencyTelephone<br/>
                            }
                            @if(reg.alternateEmergencyTelephone) {
                            @reg.alternateEmergencyContactName: @reg.alternateEmergencyTelephone<br/>
                            }
                        </p>
                        @Html(reg.notes)
                    </td>
                </tr>
            </table>
            <h4><i class="fa fa-angle-right"></i> Remove Registration</h4>
            <p>
                <a href="@routes.Admin.removeCampRegistration(reg.id, true)" class="btn btn-danger btn-block">Permanently Remove Registration (Can't Undo)</a>
                <a href="@routes.Admin.viewCampPage(reg.camp.id)" class="btn btn-theme btn-block">Cancel</a>
            </p>
        </div>
    </div>
</div>
}
