@(camp: models.skatepark.Camp, logs: List[models.security.AuditRecord], localUser: models.security.User = null)
@import admin.wrapper
@wrapper(localUser, "camps", "viewCamp") {
    <h3><i class="fa fa-angle-right"></i> Camp Database</h3>
    <div class="col-lg-12">
        <div class="showback">
            <a href="@routes.Admin.editCampPage(camp.id)" class="btn btn-theme pull-right">Edit</a>
            <h4><i class="fa fa-angle-right"></i> Camp Details</h4>
            <table class="table table-bordered">
                <tr>
                    <td>Title</td>
                    <td>@camp.title</td>
                </tr>
                <tr>
                    <td>Created</td>
                    <td><span class="timeago" title="@camp.createDate.format("yyyy-MM-dd'T'HH:mmZ")"></span></td>
                </tr>
                <tr>
                    <td>Start Date</td>
                    <td>@camp.startDate.format("MM/dd/yyyy")</td>
                </tr>
                <tr>
                    <td>End Date</td>
                    <td>@camp.endDate.format("MM/dd/yyyy")</td>
                </tr>
                <tr>
                    <td>Registration End Date</td>
                    <td>@camp.registrationEndDate.format("MM/dd/yyyy")</td>
                </tr>
                <tr>
                    <td>Registrations</td>
                    <td>@camp.registrations.size()/@camp.maxRegistrations</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>@Html(camp.description)</td>
                </tr>
                <tr>
                    <td>Cost</td>
                    <td>@utils.Formatter.prettyDollars(camp.cost)</td>
                </tr>
                <tr>
                    <td>Early Registration Discount</td>
                    <td>@if(null != camp.earlyRegistrationDiscount) { @utils.Formatter.prettyDollars(camp.earlyRegistrationDiscount) }</td>
                </tr>
                <tr>
                    <td>Early Registration End Date</td>
                    <td>@if(null != camp.earlyRegistrationEndDate) { @camp.earlyRegistrationEndDate.format("MM/dd/yyyy") }</td>
                </tr>
                <tr>
                    <td>Schedule</td>
                    <td>@camp.scheduleDescription</td>
                </tr>
                <tr>
                    <td>Instructors</td>
                    <td>@camp.instructors</td>
                </tr>
            </table>

            <a href="@routes.Admin.viewCampPDF(camp.id)" class="btn btn-theme btn-block">Get PDF with Registrant Info</a>
        </div>
        <div class="showback">
            <h4><i class="fa fa-angle-right"></i> Audit Records</h4>
            <section id="unseen">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>User</th>
                        <th>Action</th>
                        <th>Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for(log <- logs) {
                    <tr>
                        <td>
                            @if(log.user != null) {
                            <img src="@log.user.photoUrl" class="img-circle" width="20"> @log.user.name
                            } else {
                            <img src="@routes.Assets.at("img/cw--logo--lettermark-black.png")" class="img-circle" width="20"> System
                            }
                        </td>
                        <td>
                            @log.delta
                        </td>
                        <td><span class="timeago" title="@log.timestamp.format("yyyy-MM-dd'T'HH:mmZ")"></span></td>
                    </tr>
                    }
                    </tbody>
                </table>
            </section>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="showback">
            <a href="@routes.Admin.campRegistrationPage(camp.id)" class="btn btn-theme pull-right">Add Registration</a>
            <h4><i class="fa fa-angle-right"></i> Registration Details</h4>
            @if(camp.registrations.size() == 0) {
                <i>No registrations currently recorded</i>
            } else {
                <table class="table table-bordered">
                    <tr>
                        <td>Registrant Email</td>
                        <td>Participant Name</td>
                        <td>Registration Date</td>
                        <td>Fully Paid?</td>
                        <td>Payment Type</td>
                        <td>Total Paid</td>
                        <td>Notes</td>
                        <td>Actions</td>
                    </tr>
                    @for(reg <- camp.registrations) {
                        <tr>
                            <td>@reg.registrantEmail</td>
                            <td>@reg.participantName</td>
                            <td>@reg.timestamp.format("MM/dd/yyyy")</td>
                            <td>@if(reg.paid) {
                                <span class="label label-success">PAID</span>
                            } else {
                                <span class="label label-danger">UNPAID</span>
                            }</td>
                            <td><span class="label label-primary">@reg.paymentType</span></td>
                            <td>@utils.Formatter.prettyDollarsAndCents(reg.totalPaid)</td>
                            <td>
                                <p>Emergency Contacts:<br/>
                                    @if(reg.emergencyTelephone) {
                                        @reg.emergencyContactName: @reg.emergencyTelephone<br/>
                                    }
                                    @if(reg.alternateEmergencyTelephone) {
                                        @reg.alternateEmergencyContactName: @reg.alternateEmergencyTelephone<br/>
                                    }
                                </p>
                                @Html(reg.notes)
                            </td>
                            <td><a href="@routes.Admin.editCampRegistrationPage(reg.id)" class="btn btn-primary btn-block btn-xs"><i class="fa fa-edit"></i> Edit</a>
                                <a href="@routes.Admin.moveCampRegistrationPage(reg.id)" class="btn btn-success btn-block btn-xs"><i class="fa fa-arrows-h"></i> Move Registration</a>
                                <a href="@routes.Admin.removeCampRegistration(reg.id, false)" class="btn btn-danger btn-block btn-xs"><i class="fa fa-remove"></i> Remove Registration</a>
                                @if(reg.registrantEmail) {
                                    <a href="@routes.Admin.sendCampReminderEmail(reg.id, false)" class="btn btn-warning btn-block btn-xs"><i class="fa fa-envelope-o"></i> Preview Reminder</a>
                                    <a href="@routes.Admin.sendCampReminderEmail(reg.id, true)" class="btn btn-danger btn-block btn-xs"><i class="fa fa-envelope-o"></i> Send Reminder</a>
                                }
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
<script>
    $(document).ready(function(){
        $("span.timeago").timeago();
    });
</script>
}

