logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.sass-cache

*.codekit

public/img/camps/2014__sampson--001c.jpg

public/img/index/banner/bg__001--park-with-logo-transparent.png
