logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.sass-cache
*.codekit
gulpfile.js
public/js/modernizr2.js
public/js/modernizr3.js
node_modules/
.npmrc