@(news: models.site.NewsItem, localUser: models.security.User = null)
@import admin.wrapper
@wrapper(localUser, "news", "existingNews") {

<h3><i class="fa fa-angle-right"></i> News/Blog Entries</h3>
<div class="row mt">
    <div class="col-lg-12">
        <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> Edit Existing News</h4>
            <form action="@routes.Admin.updateNewsItem(news.id)" method="post" class="form-horizontal style-form">
                <label>Title:</label><br/><input type="text" name="title" value="@news.title" class="form-control"/><br/>
                <label>Content:</label><br/><textarea name="content" id="newContent" class="form-control">@news.content</textarea><br/>
                <label>Extended Content:</label><br/><textarea name="extendedContent" id="newExtendedContent" class="form-control">@news.extendedContent</textarea><br/>
                <label>Sticky:</label><br/><input type="checkbox" name="sticky" @if(news.sticky){checked} class="form-control"/><br/>
                <label>Expires:</label><br/><input type="checkbox" name="expires" @if(news.expires){checked} class="form-control"/><br/>
                <label>Expiration Date:</label><br/><input name="expireDate" id="datepicker" value="@if(null != news.expireDate){@news.expireDate.format("MM/dd/yyyy")}" class="form-control"/><br/>
                <input type="submit" id="submit" value="Update News Item" class="btn btn-theme" />
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#datepicker").datepicker({'autoclose': true});
        $("#newContent").cleditor({});
        $("#newExtendedContent").cleditor({});
    });
</script>

}
