@(news: List[models.site.NewsItem], page: Long, hasNextPage: Boolean, localUser: models.security.User = null)
@import admin.wrapper
@wrapper(localUser, "news", "existingNews") {

<h3><i class="fa fa-angle-right"></i> News/Blog Entries</h3>
<div class="row mt">
    <div class="col-lg-12">
        <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> News Posts</h4>
            <section id="unseen">
                @if(hasNextPage||page>=1) {
                    <nav>
                        <ul class="pager">
                            @if(page >= 1) {
                            <li class="previous"><a href="@routes.Admin.newsIndex(page-1)"><span aria-hidden="true">&larr;</span> Previous Page</a></li>
                            }
                            @if(hasNextPage) {
                            <li class="next"><a href="@routes.Admin.newsIndex(page+1)">Next Page<span aria-hidden="true">&rarr;</span></a></li>
                            }
                        </ul>
                    </nav>
                }
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Create Date</th>
                        <th>Front Page</th>
                        <th>Expires</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for(index <- 0 until news.size) {
                        @defining(news(index)) { newsItem =>
                        <tr>
                            <td>@newsItem.title</td>
                            <td>@if(null != newsItem.createDate) { @newsItem.createDate.format("MMMM dd, yyyy") }</td>
                            <td>@if(newsItem.frontPage) { <i class="fa fa-2x fa-check-circle"></i> }</td>
                            <td>@if(newsItem.expires){<i class="fa fa-clock-o"></i>} @if(null != newsItem.expireDate) { @newsItem.expireDate.format("MMMM dd, yyyy") }</td>
                            <td><a href="/admin/news/@newsItem.id/edit" class="btn btn-theme">Edit</a></td>
                        </tr>
                        <tr>
                            <td colspan="5">@Html(news(index).content)</td>
                        </tr>
                        }
                    }
                    </tbody>
                </table>
                @if(hasNextPage||page>=1) {
                    <nav>
                        <ul class="pager">
                            @if(page >= 1) {
                            <li class="previous"><a href="@routes.Admin.newsIndex(page-1)"><span aria-hidden="true">&larr;</span> Previous Page</a></li>
                            }
                            @if(hasNextPage) {
                            <li class="next"><a href="@routes.Admin.newsIndex(page+1)">Next Page<span aria-hidden="true">&rarr;</span></a></li>
                            }
                        </ul>
                    </nav>
                }
            </section>
        </div><!-- /content-panel -->
    </div><!-- /col-lg-4 -->
</div><!-- /row -->
}
