@(news: NewsItem, localUser: models.User = null)
@adminParent(localUser) {

<section id="blog">
    <article>
        <header>
            <h1>Add a New News Item</h1>
            <div class="meta">
                <div class="date">
                    <time>Now</time>
                </div>
                <div class="tags">
                    <a href="#">News</a> / <a href="#">Site</a>
                </div>
            </div>
        </header>
        <main>
            <form action="@routes.Admin.updateNewsItem(news.id)" method="post">
                <label>Title:</label><br/><input type="text" name="title" value="@news.title"/><br/>
                <label>Content:</label><br/><textarea name="content" id="newContent">@news.content</textarea><br/>
                <label>Extended Content:</label><br/><textarea name="extendedContent" id="newExtendedContent">@news.extendedContent</textarea><br/>
                <label>Sticky:</label><br/><input type="checkbox" name="sticky" @if(news.sticky){checked}/><br/>
                <label>Expires:</label><br/><input type="checkbox" name="expires" @if(news.expires){checked}/><br/>
                <label>Expiration Date:</label><br/><input type="text" name="expireDate" id="datepicker" value="@if(null != news.expireDate){@news.expireDate.format("MM/dd/yyyy")}"/><br/>
                <input type="submit" id="submit" value="Update News Item" />
            </form>
        </main>
    </article>
</section> <!-- /#blog -->

}
