@(visits: List[models.skatepark.Visit], events: List[models.skatepark.Event], localUser: models.security.User = null)
@import admin.wrapper
@import utils.ChartUtil._
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import com.feth.play.module.pa.views.html._
@wrapper(localUser, "dashboard", "index") {

<h3><i class="fa fa-angle-right"></i> Dashboard</h3>
<div class="row mt">
    <div class="col-lg-12">
        <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> Events This Week</h4>
            <div class="panel-body">
                @if(events.size == 0) {
                    <i>No events in the upcoming week</i>
                }
                @for(event <- events) {
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <span class="pull-right">
                                @if(event.publicVisibility) {
                                <span class="label label-warning">Public Event</span>
                                } else {
                                <span class="label label-info">Private Event</span>
                                }
                                &nbsp;
                                @if(event.reservePark) {
                                    <span class="label label-danger">Park Reserved</span>
                                } else {
                                    <span class="label label-info">Park Unreserved</span>
                                }
                            </span>
                            <b>@event.name</b> on
                            @if(null != event.startTime) { @event.startTime.format("EEEE, MM/dd/yyyy") }
                            (@if(null != event.startTime){@event.startTime.format("h:mm a") } - @if(null != event.endTime) {@event.endTime.format("h:mm a")})<br/>
                        </div>
                        <div class="panel-body">
                            <p>
                                @Html(event.notes)
                                @if(event.notes.size == 0) { <i>No public details</i> }
                            </p>
                            @restrict(la(as("EVENTS"))) {
                                <p>
                                    @Html(event.privateNotes)
                                    @if(event.privateNotes.size == 0) { <i>No private details</i> }
                                </p>
                            }
                        </div>
                        @restrict(la(as("EVENTS"))) {
                            <div class="panel-footer">
                                <a href="@routes.Admin.viewEventPage(event.id)" class="btn btn-theme btn-sm">View Event</a>
                                <a href="@routes.Admin.editEventPage(event.id)" class="btn btn-theme btn-sm">Edit Event</a>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="row mt">
    <div class="col-lg-12">
        <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> Visits In Past 2 Weeks</h4>
            <div class="panel-body">
                <div id="hero-area" class="graph"></div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
<script>
$(document).ready(function(){
    Morris.Bar({
        element: 'hero-area',
        data: [
            @defining(utils.ChartUtil.breakDownVisitsToDays(visits)) { map =>
                @for((key, value) <- map) {
                    {period: '@key',
                        @for((key2, value2) <- value) {
                            @key2: @value2,
                        }
                    },
                }
            }
        ],

          xkey: 'period',
          ykeys: ['SESSION', 'ALL_DAY', 'UNLIMITED'],
          labels: ['Session Passes', 'All Day Passes', 'Unlimited Passes'],
          hideHover: 'auto',
          lineWidth: 1,
          pointSize: 5,
          lineColors: ['#4a8bc2', '#ff6c60', '#a9d86e'],
          fillOpacity: 0.5,
          smooth: true,
          stacked: true
    });
});
</script>
}