@(visits: List[models.skatepark.Visit], localUser: models.security.User = null)
@import admin.wrapper
@import utils.ChartUtil._
@wrapper(localUser, "dashboard", "index") {

<h3><i class="fa fa-angle-right"></i> Dashboard</h3>

<div class="row mt">
    <div class="col-lg-12">
        <div class="form-panel">
            <img src="http://i.imgur.com/49i12Ug.png" class="img-responsive">
        </div>
    </div>
</div>
<div class="row mt">
    <div class="col-lg-12">
        <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> Visits In Past 2 Weeks</h4>
            <div class="panel-body">
                <div id="hero-area" class="graph"></div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
<script>
$(document).ready(function(){
    Morris.Area({
        element: 'hero-area',
        data: [
            @defining(utils.ChartUtil.breakDownVisitsToDays(visits)) { map =>
                @for((key, value) <- map) {
                    {period: '@key',
                        @for((key2, value2) <- value) {
                            @key2: @value2,
                        }
                    },
                }
            }
        ],

          xkey: 'period',
          ykeys: ['SESSION', 'ALL_DAY', 'UNLIMITED'],
          labels: ['Session Passes', 'All Day Passes', 'Unlimited Passes'],
          hideHover: 'auto',
          lineWidth: 1,
          pointSize: 5,
          lineColors: ['#4a8bc2', '#ff6c60', '#a9d86e'],
          fillOpacity: 0.5,
          smooth: true
    });
});
</script>
}