@(logs: List[models.security.AuditRecord], page: Long, hasNextPage: Boolean, localUser: models.security.User = null)
@import admin.wrapper
@wrapper(localUser, "log", "viewLog") {

<h3><i class="fa fa-angle-right"></i> Audit Log</h3>
<div class="row mb">
    <div class="col-lg-12">
        <div class="form-panel">
            <h4><i class="fa fa-angle-right"></i> Recently Logged</h4>
            <section id="unseen">
                @if(hasNextPage||page>=1) {
                <nav>
                    <ul class="pager">
                        @if(page >= 1) {
                        <li class="previous"><a href="@routes.Admin.logIndex(page-1)"><span aria-hidden="true">&larr;</span> Previous Page</a></li>
                        }
                        @if(hasNextPage) {
                        <li class="next"><a href="@routes.Admin.logIndex(page+1)">Next Page<span aria-hidden="true">&rarr;</span></a></li>
                        }
                    </ul>
                </nav>
                }
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>User</th>
                        <th>Action</th>
                        <th>Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for(log <- logs) {
                    <tr>
                        <td>
                            @if(log.user != null) {
                                <img src="@log.user.photoUrl" class="img-circle" width="20"> @log.user.name
                            } else {
                                <img src="@routes.Assets.at("img/cw--logo--lettermark-black.png")" class="img-circle" width="20"> System
                            }
                        </td>
                        <td>
                            @log.delta
                                @if(null != log.newsItem) { <a href="@routes.Application.showNews(log.newsItem.id)"><span class="label label-primary pull-right"><i class="fa fa-pencil-square"></i></span></a> }
                                @if(null != log.membership) { <a href="@routes.Admin.viewMemberPage(log.membership.id)"><span class="label label-primary pull-right"><i class="fa fa-user"></i></span></a> }
                                @if(null != log.camp) { <a href="@routes.Admin.viewCampPage(log.camp.id)"><span class="label label-primary pull-right"><i class="fa fa-group"></i></span></a> }
                                @if(null != log.event) { <a href="@routes.Admin.viewEventPage(log.event.id)"><span class="label label-primary pull-right"><i class="fa fa-calendar"></i></span></a> }
                                @if(null != log.closure) { <a href="@routes.Admin.closureIndex()"><span class="label label-primary pull-right"><i class="fa fa-bell"></i></span></a> }
                        </td>
                        <td><span class="timeago" title="@log.timestamp.format("yyyy-MM-dd'T'HH:mmZ")"></span></td>
                    </tr>
                    }
                    </tbody>
                </table>
                @if(hasNextPage||page>=1) {
                <nav>
                    <ul class="pager">
                        @if(page >= 1) {
                        <li class="previous"><a href="@routes.Admin.logIndex(page-1)"><span aria-hidden="true">&larr;</span> Previous Page</a></li>
                        }
                        @if(hasNextPage) {
                        <li class="next"><a href="@routes.Admin.logIndex(page+1)">Next Page<span aria-hidden="true">&rarr;</span></a></li>
                        }
                    </ul>
                </nav>
                }
            </section>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("span.timeago").timeago();
    });
</script>
}