@(localUser: models.security.User = null, activeSection: String, activePage: String)
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import com.feth.play.module.pa.views.html._
<aside>
    <div id="sidebar"  class="nav-collapse ">
        <ul class="sidebar-menu" id="nav-accordion">

            <p class="centered"><img src="@localUser.photoUrl" class="img-circle" width="60"></p>
            <h5 class="centered">@localUser.name</h5>

            <li class="mt">
                <a href="/admin" @if(activeSection=="dashboard") { class="active" }>
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a @if(activeSection=="member") { class="active" } href="javascript:;" >
                    <i class="fa fa-users"></i>
                    <span>Members</span>
                </a>
                <ul class="sub">
                    <li @if(activePage=="existingMembers") { class="active" }><a href="@routes.Admin.memberIndex(0)">Member List</a></li>
                </ul>
                <ul class="sub">
                    <li @if(activePage=="addMember") { class="active" }><a href="@routes.Admin.addMemberPage()">Add Member</a></li>
                </ul>
                <ul class="sub">
                    <li @if(activePage=="unlimitedPassHolders") { class="active" }><a href="@routes.Admin.unlimitedPassHoldersPage()">Unlimited Pass Holders</a></li>
                </ul>
                <ul class="sub">
                    <li @if(activePage=="negativeBalance") { class="active" }><a href="@routes.Admin.negativeBalancePage()">Negative Balances</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a @if(activeSection=="issues") { class="active" } href="@routes.Admin.issueIndex()" >
                    <i class="fa fa-bug"></i>
                    <span>Issues</span>
                </a>
            </li>
            <li class="sub-menu">
                <a @if(activeSection=="closures") { class="active" } href="@routes.Admin.closureIndex()" >
                    <i class="fa fa-bell"></i>
                    <span>Closures</span>
                </a>
            </li>
            <li class="sub-menu">
                <a @if(activeSection=="register") { class="active" } href="javascript:;" >
                    <i class="fa fa-money"></i>
                    <span>Register & Sales</span>
                </a>
                <ul class="sub">
                    <li @if(activePage=="unheard") { class="active" }><a href="@routes.Admin.unheardSaleIndex()">Unheard Sales</a></li>
                </ul>
                <ul class="sub">
                    <li @if(activePage=="bitcoin") { class="active" }><a href="@routes.Admin.bitcoinSaleIndex()">Bitcoin Sales</a></li>
                </ul>
                <ul class="sub">
                    <li @if(activePage=="onlinePassSales") { class="active" }><a href="@routes.Admin.onlinePassSaleIndex()">Online Pass Sales</a></li>
                </ul>
            </li>
            @restrict(la(as("CAMP"))) {
                <li class="sub-menu">
                    <a @if(activeSection=="camps") { class="active" } href="javascript:;" >
                        <i class="fa fa-truck"></i>
                        <span>Camps</span>
                    </a>
                    <ul class="sub">
                        <li @if(activePage=="viewCamp") { class="active" }><a href="@routes.Admin.campIndex()">Camp List</a></li>
                    </ul>
                    <ul class="sub">
                        <li @if(activePage=="addCamp") { class="active" }><a href="@routes.Admin.addCampPage()">Add Camp</a></li>
                    </ul>
                </li>
            }
            @restrict(la(as("EVENTS"))) {
                <li class="sub-menu">
                    <a @if(activeSection=="events") { class="active" } href="javascript:;" >
                    <i class="fa fa-calendar"></i>
                    <span>Events</span>
                    </a>
                    <ul class="sub">
                        <li @if(activePage=="viewEvent") { class="active" }><a href="@routes.Admin.eventIndex()">Event List</a></li>
                    </ul>
                    <ul class="sub">
                        <li @if(activePage=="addEvent") { class="active" }><a href="@routes.Admin.addEventPage()">Add Event</a></li>
                    </ul>
                </li>
            }
            @restrict(la(as("BLOG"))) {
                <li class="sub-menu">
                    <a @if(activeSection=="news") { class="active" } href="javascript:;" >
                        <i class="fa fa-newspaper-o"></i>
                        <span>News/Blog</span>
                    </a>
                    <ul class="sub">
                        <li @if(activePage=="existingNews") { class="active" }><a href="@routes.Admin.newsIndex(0)">View/Edit News</a></li>
                    </ul>
                    <ul class="sub">
                        <li @if(activePage=="addNews") { class="active" }><a href="@routes.Admin.addNewsPage()">Add News</a></li>
                    </ul>
                </li>
            }
            @restrict(la(as("USER_ADMIN"))) {
                <li class="sub-menu">
                    <a @if(activeSection=="user") { class="active" } href="@routes.Admin.userIndex()" >
                        <i class="fa fa-user-plus"></i>
                        <span>User Admin</span>
                    </a>
                </li>
            }
            <li class="sub-menu">
                <a @if(activeSection=="log") { class="active" } href="@routes.Admin.logIndex()" >
                    <i class="fa fa-book"></i>
                    <span>Audit Log</span>
                </a>
            </li>
        </ul>
    </div>
</aside>