@(localUser: models.security.User = null, activeSection: String, activePage: String)(content: Html)

@import com.feth.play.module.pa.views.html._
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Commonwealth Skateboarding Admin</title>

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.ico")">

    <link href="@routes.Assets.at("admin/css/bootstrap.css")" rel="stylesheet">
    <link href="@routes.Assets.at("admin/font-awesome/css/font-awesome.css")" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("admin/js/bootstrap-datepicker/css/datepicker.css")" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("admin/js/jquery.timepicker.css")">
    <link rel="stylesheet" href="@routes.Assets.at("js/cleditor/jquery.cleditor.css")">
    <link href="@routes.Assets.at("admin/css/style.css")" rel="stylesheet">
    <link href="@routes.Assets.at("admin/css/style-responsive.css")" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="@routes.Assets.at("admin/js/jquery.js")"></script>
    <script src="@routes.Assets.at("admin/js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("admin/js/jquery.dcjqaccordion.2.7.js")"></script>
    <script src="@routes.Assets.at("admin/js/jquery-ui-1.9.2.custom.min.js")"></script>
    <script src="@routes.Assets.at("admin/js/bootstrap-switch.js")"></script>
    <script src="@routes.Assets.at("admin/js/jquery.tagsinput.js")"></script>
    <script src="@routes.Assets.at("admin/js/jquery.timeago.js")"></script>
    <script src="@routes.Assets.at("admin/js/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
    <script src="@routes.Assets.at("admin/js/bootstrap-inputmask/bootstrap-inputmask.min.js")"></script>
    <script src="@routes.Assets.at("js/cleditor/jquery.cleditor.min.js")"></script>
    <script src="@routes.Assets.at("admin/js/jquery.timepicker.min.js")"></script>
    <script src="@routes.Assets.at("admin/js/admin.js")"></script>
</head>

<body>

    <section id="container" >

        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="tooltips" data-placement="right" data-original-title="Toggle Navigation">
                    <p id="navlogo" class="logo">
                        <img src="@routes.Assets.at("img/cw--logo--lettermark-white.svg")" height=28 width=28>
                    </p>
                </div>
            </div>
            <!--logo start-->

            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
            </div>
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a class="logout" href="/logout">Logout</a></li>
                    <li><a class="logout" href="https://accounts.google.com/logout" target="_blank">Google Logout</a></li>
                </ul>
            </div>
        </header>

        @sidebar(localUser, activeSection, activePage)

        <section id="main-content">
            <section class="wrapper">

                @content

            </section>
        </section>

        <footer class="site-footer">
            <div class="text-center">
                Commonwealth Skateboarding / Last Place Footwear
                <a href="#" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
    </section>
</body>
</html>