body { 
	background: $black; 
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

	h1 a, .h1 a,
	h2 a, .h2 a,
	h3 a, .h3 a,
	h4 a, .h4 a,
	h5 a, .h5 a,
	h6 a, .h6 a,
	.link,
	p a { 
		color: fade_out($white, .15);
		box-shadow: inset 0 -3px 0 0 fade_out($gray, .3);
		font-weight: 900;
		transition: box-shadow .3s, color .3s;
		&:hover { 
			color: $white; 
			box-shadow: inset 0 -3px 0 0 $gold;
			transition: box-shadow .3s;
		}

		&.gold {
			color: $gold; 
			transition: border .3s, color .3s;
			&:hover { 
				color: scale-color($gold, $lightness: 45%); 
			}
		}
	}
}



[id="content"] {
	background-image: -webkit-linear-gradient(top, transparent, $black 600px);
	color: $gray;
	width: 100%;

	position: relative;
	z-index: 800;

	main[data-purpose="flex-container"] {
		clear: both;
		display: flex;
		flex: 1;
		flex-flow: row wrap;

		padding-bottom: 60px;

		section:not([id="blog"]) {
			clear: both;
			margin: 0 $margin*2;
			width: 100%;
		}
	}
}

.grid {
	display: flex;
	flex-wrap: wrap;
	> div {
		margin: $margin 0;
		width: calc(50% - #{$margin}); 
		&:nth-of-type(odd) { margin-right: $margin*2; }
	}
	&.no-margin { 
		> div {
			margin: 0;
		}
	}
}

img { max-width: 100%; }

img.full-width {
	margin: 30px 0;
	width: 100%;
}

figure {
	img.full-width {
		margin: 0;
	}
	figcaption {
		background: fade_out($gray, .9);
		border-radius: 0 0 3px 3px;
		@include rem(font-size, 12px);
		//font-style: italic;
		margin-top: -5px;
		padding: 6px 9px;
		text-align: right;
	}

}