body { 
	background: $black; 
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

[id="content"] {
	background-image: linear-gradient(top, transparent, $black 600px);
	color: $gray;
	width: 100%;

	position: relative;
	z-index: 800;

	main[data-purpose="flex-container"] {
		clear: both;
		display: flex;
		flex: 1;
		flex-flow: row wrap;

		padding-bottom: 60px;

		section:not([id="blog"]) {
			clear: both;
			margin: 0 $margin*2;
			width: 100%;
		}
	}
}

.grid {
	display: flex;
	flex-wrap: wrap;
	> * {
		margin-bottom: 30px;
		width: calc(50% - #{$margin}); 
		&:nth-of-type(odd) { margin-right: $margin*2; }
	}
	&.no-margin { 
		> * {
			margin: 0;
		}
	}
	img { margin-top: $margin/2; }
}

img { max-width: 100%; }

img.full-width {
	margin: 30px 0;
	width: 100%;
}

figure {
	img.full-width {
		margin: 0;
	}
	figcaption {
		background: fade_out($gray, .9);
		border-radius: 0 0 3px 3px;
		@include rem(font-size, 12px);
		//font-style: italic;
		margin-top: -5px;
		padding: 6px 9px;
		text-align: right;
	}

}