body {
  &.home {
    header[id="main"] {
      position: absolute;
    }

    [id="carousel"] {
      height: $banner-height;
      font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
      overflow: hidden;

      &:hover {
        // When #carousel is :hover'd, bring arrows in to their default position.
        .arrow {
          &.prev {
            transform: translateX(0px);
          }
          &.next {
            transform: translateX(0px);
          }
        }

        // When #carousel is :hover'd, make carousel navigation more prominent.
        .slick-dots li:not(.slick-active) button {
          opacity: 0.5;
        }
      }

      .arrow {
        height: $banner-content-height;
        margin-top: $header-size;
        min-width: $header-size;
        position: absolute;
        z-index: 300;

        color: fade_out($gold, 0.85);
        @include rem(font-size, 69px);
        font-weight: 100;
        cursor: pointer;
        @extend .fade;

        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;

        &.prev {
          left: 0;
          transform: translateX(-75px);
        }
        &.next {
          right: 0;
          transform: translateX(75px);
        }

        &:hover {
          color: $white;
          //background: linear-gradient(left, fade_out($gold, .75), transparent);
        }
      }

      .slide {
        display: flex;
        height: 100%;

        background-size: 100%;
        background-repeat: no-repeat;

        .content {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          margin: 120px;
          height: $banner-content-height;
          width: 100%;

          .wrapper {
            width: 100%;

            .centered {
              text-align: center;
              width: 100%;

              > * {
                margin: 0 auto;
              }
            }
          }

          .h1,
          .h2,
          .h3,
          .h4,
          .h5 {
            display: block;
            font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial,
              sans-serif;
            font-weight: 700;
            text-transform: uppercase;
          }

          .h1 {
            @include rem(font-size, 60px);
            @include rem(line-height, 1);
            @include rem(letter-spacing, 0.8px);
          }
          .h2 {
            @include rem(font-size, 45px);
          }
          .h3 {
            @include rem(font-size, 36px);
          }
          .h4 {
            @include rem(font-size, 24px);
          }
          .h5,
          p,
          li {
            @include rem(font-size, 15px);
          }

          a {
            color: $gold;
          }

          a.button {
            background: $gold;
            border: 3px solid transparent;
            border-radius: 3px;
            color: $white;
            display: block;
            font-weight: 500;
            margin-top: $margin/2;
            padding: 12px;
            transition: background 0.3s, border 0.3s, color 0.3s, opacity 0.3s;

            &:hover {
              background: $white;
              color: $gold;
            }

            &:not(.outline) {
              &.white {
                background: $white;
                color: $gray;
                &:hover {
                  background: $gray;
                  color: $white;
                }
              }

              &.gold {
                background: fade_out($gold, 0.3);
                color: $black;
                &:hover {
                  background: $white;
                }
              }

              &.green {
                background: $success;
                color: $black;
                &:hover {
                  background: $white;
                }
              }
            }

            &.outline {
              background: none;
              border-color: $gold;
              color: $gold;
              &:hover {
                border-color: $white;
                color: $white;
              }

              &.gold {
                border-color: fade_out($gold, 0.3);
                color: fade_out($gold, 0.3);
                &:hover {
                  border-color: $white;
                  color: $white;
                }
              }

              &.white {
                border-color: $white;
                color: $white;
                &:hover {
                  border-color: fade_out($white, 0.6);
                  color: fade_out($white, 0.6);
                }
              }

              &.gray {
                border-color: $gray;
                color: $gray;
                &:hover {
                  border-color: $white;
                  color: $white;
                }
              }

              &.green {
                border-color: $success;
                color: $success;
                &:hover {
                  border-color: $white;
                  color: $white;
                }
              }
            }

            &:focus {
              outline: none;
            }
          }
        }

        // INTRO SLIDE
        &.intro {
          background-image: linear-gradient(transparent 80%, $black 100%),
            image-url("index/banner/bg__001--park-with-logo.png");

          .logo-oval {
            min-width: 200px;
            max-width: 400px;
            width: 100%;
          }
        }

        // DEFAULT SLIDE (Shop BG)
        &.default,
        &.store {
          background-image: image-url("index/banner/bg__001--default.png");
        }

        // STORE SLIDE
        &.store {
          .wrapper {
          }
          .h1 {
            margin-top: 0;
          }
          .h5 {
            color: $gray;
          }
          .shop {
            display: flex;
            align-items: center;
            background: none;
            border: 3px solid $gold;
            border-radius: 3px;
            color: $gold;
            @include rem(font-size, 18px);
            font-weight: 700;
            justify-content: center;
            @include rem(margin, 6px auto 0);
            @include rem(padding, 12px $margin);
            transition: width 1s;
            width: 100%;

            &:before,
            &:after {
              font-family: $fontawesome;
              font-weight: 100;
              margin: 0 12px;
            }
            &:before {
              content: "\f07a";
            }

            &:hover {
              border-color: $white;
              color: scale-color($gold, $lightness: 40%);
            }
          }
        }

        // SUMMER CAMP SLIDE
        &.camp {
          background-image: radial-gradient(
              circle at top,
              fade_out($gold, 0.85) 0%,
              $black 50%
            ),
            image-url("index/banner/bg__001--default.png");
          text-align: center;

          .title {
            font-size: 5.4vw;
            white-space: nowrap;
          }

          .subtitle {
            color: $gold;
            @include rem(font-size, 24px);
            @include linethrough();
            margin-top: 3px;
          }

          .cta {
            display: flex;
            width: 100%;

            li {
              width: 100%;
            }
            a.button {
              @include rem(font-size, 18px);
              font-weight: 500;
              margin: $margin/2 auto;
              width: 90%;
              &.sign-up {
                font-weight: 900;
              }
              &.info:before,
              &.sign-up:before {
                font-family: $fontawesome;
                font-weight: 100;
                margin-right: 12px;
              }
              &.info:before {
                content: "\f129";
              }
              &.sign-up:before {
                content: "\f040";
                margin-left: -9px;
              }
            }
          }
        }

        &.extra {
          background: radial-gradient(
            circle at top,
            fade_out($blue, 0.75) 0%,
            $black 50%
          );
        }
      }

      .slick-list,
      .slick-track {
        height: 100%;
      }

      .slick-dots {
        top: calc(#{$banner-content-height} + #{$margin/2 * 9});
        z-index: 800;

        li {
          height: $margin;
          margin: 0 $margin/2;

          button {
            background: transparent;
            border-radius: 50%;
            border: 3px solid $gold;
            margin: 3px;
            transition: opacity 0.3s, border 0.3s, background 0.1s;

            //height: $margin/2;
            //width: $margin/2;

            &:hover {
              background: $gold;
              opacity: 1;
            }

            &::before {
              display: none;
            }
          }

          &:not(.slick-active) {
            button {
              opacity: 0.12;
            }
          }

          &.slick-active {
            button {
              background: transparent;
              border-color: $white;

              &:hover {
                background: $white;
              }
            }
          }
        }
      }
    }
  }
}
