body {
	> footer {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;

		background-image: linear-gradient($black 3%, transparent 97%),
											linear-gradient(to right, transparent 80%, $black 100%),
											image-url("footer/2012__park-interior--001.jpg");
		background-position: 60% top;
		background-repeat: no-repeat;
		background-size: cover;
		color: $gray;
		@include rem(font-size, 9px);
		font-weight: 700;
		padding-top: $margin;
		text-transform: uppercase;
		
		.sponsors {
			margin: 18px $margin;
			width: 100%;
			.h6 { 
				border-top: 3px solid fade_out($gold, .6);
				display: inline-block;
				padding-top: 9px; 
			}
			.logos { 
				justify-content: center;
				ul {
					display: flex;
					justify-content: center;
					width: 60%;
					li { opacity: .3; transition: opacity .3s; }
					li:hover { opacity: 1; }
					&.gold { 
						li { 
							align-self: center;
							width: 50%;
							img { max-width: 100%; }
						 }
					}
					&.silver { margin-bottom: 3%; }
					li:not(:last-of-type) { margin-right: 9%; } 
				}
			}
			//ul { display: flex; }
		}

		.info { 
			//background: fade_out($gray, .96);
			border-top: 2px solid $black;
			color: $white;
			display: flex;
			height: 270px;
			width: 100%;

			> *:not(.social) { 
				height: 100%; 
				//padding: 0 48px;
			}
		}

		.contact, > nav {
			//align-content: center;
			//align-items: baseline;
			display: flex;
		}

		.contact {
			color: fade_out($gray, .3); 
			flex-wrap: wrap;
			font-weight: 300;
			justify-content: center;
			text-align: right;
			text-transform: none;
			width: 30%;

			> * { width: 100%; }

			a { 
				color: fade_out($gold, .3); 
				//text-decoration: underline;
				&:hover { color: $gold; }
			}

			hr { 
				border: none; 
				border-bottom: 1px solid $black;
				display: block;
				height: 1px;
				margin: 12px 0;
				padding: 0;
			}

			.physical {
				order: 2;
				align-self: flex-start;
				padding: $margin/2 45px $margin/2 0;

				div { 
					@include rem(font-size, 39px);
					&.address { 
						font-weight: 100;
						sup { 
							@include rem(font-size, 24px);
							vertical-align: -2px;
						}
						i.fa { 
							margin-right: 3px;
							vertical-align: 0px;
						}
					}

					&.phone { 
						display: block; 
						font-weight: 300;
						margin-top: -1px; 
						i.fa { color: fade_out($gray, .81); }
					}

					i.fa { 
						@include rem(font-size, 21px);
						margin-right: 9px;
						vertical-align: -3px;
					}	
				}
			}
		}

		.social {
			order: 1;
			display: flex;
			align-content: center;
			align-self: flex-start;
			justify-content: flex-end;
			border-bottom: 2px solid $black;
			width: 100%;
			li { 
				text-align: center; 
				width: calc(100%/3); 
				&:not(:first-of-type) a { box-shadow: inset 2px 0 0 0 $black; }
			}
			a { 
				background: darken(fade_out($gold, .6), 10);
				color: fade_out($gray, .6);
				display: block;
				@include rem(font-size, 18px);
				padding: $margin/2 0; 
				transition: color .3s;
				width: 100%;
				&:hover { 
					background: fade_out($gold, .6);
					color: $white; 
				}
			}
		}

		nav {
			background-color: fade_out($gold, .6);
			border-left: 2px solid $black;
			justify-content: space-between;
			padding: 36px 42px;
			position: relative; // for ::before
			overflow: hidden;
			width: 70%;

			&:before {
				content: "";
				position: absolute;
				background: image-url("cw--logo--lettermark-white.svg");
				background-position: center center;
				background-size: 100%;
				background-repeat: no-repeat;
				width: 150px;
				height: 150px;
				// top: -36%;
				// left: 42%;

				top: -36px;
				left: 81%;
				z-index: 1;

				opacity: .09;
				transform: rotate(15deg);
			}

			> ul {
				display: flex;
				margin-bottom: $margin/2;
				width: 100%;

				> li {
					&:not(:first-of-type) { @include rem(margin-left, 45px); }

					.h5 { 
						color: $black; 
						display: inline-block;
						@include rem(font-size, 10px);
						font-weight: 900;
						margin-bottom: 6px; 
						padding: 0 6px; 
					}

					a {
						color: $black;
						display: block;
						opacity: .6;
						padding: 6px;
						transition: color .3s, opacity .5s;

						&:hover {
							color: $white;
							opacity: 1;
						}
					}
				}
			}

			.copyright { 
				color: $black;
				@include rem(font-size, 9px); 
				//padding: 18px;
				text-align: right;
				align-self: flex-end;
				width: 100%;
			}
		}
	}
}