form {
	input[type="text"], input[type="email"], input[type="tel"], textarea { 
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: transparent;
		@include bottomBorder();
		color: $white;
		@include rem(font-size, 21px);
		font-weight: 900;
		margin: 0;
		padding: 6px 9px 9px; 
		position: relative;

		&::placeholder { 
			color: fade_out($gray, .6); 
			font-weight: 100; 
		}

		&:hover, &:active, &:focus { 
			border-color: fade_out($white, .6); 
			color: $white;
			outline: 0;
			&::placeholder { color: $gray; }
		}

		&:in-range { border-color: $success; }
		&:disabled { opacity: .3; }
		&:invalid { border-color: pink; }
		&:required { 
			border-color: fade_out($gold, .6);
			label & { 
				position: relative;
				&::after {
					color: $white;
					content: "*"; 
					position: absolute; 
					left: 0;
				}
			} 
			&:hover { border-color: $gold; }
			&:active, &:focus { 
				border-color: $white; 
				color: $white;
				outline: 0;
				&::placeholder { color: $gray; }
			}
		}
		&:-webkit-autofill {
			border: darken($gold, 21);
			box-shadow: inset 0 0 0 50px darken($gold, 21);
			-webkit-text-fill-color: $white;
		}
	}

	[type="tel"] { width: 210px; }

	input:not([type="radio"]),
	label.agreement,
	[type="submit"] { transition: all 1s ease; }

	[type="submit"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: $success;
		border: 3px solid $success;
		border-radius: 3px;
		box-shadow: 3px 3px 0 1px fade_out($success, .3);
		color: $white;
		@include rem(font-size, 24px);
		font-weight: 900;
		height: 60px;
		margin: $margin/2 0;
		opacity: .81;
		transform: translate(-3px, -3px);
		transition: all .3s ease;
		width: 270px;

		&:hover:not(:disabled):not(.disabled) { 
			opacity: 1;
		}

		&:focus { 
			opacity: .3;
			outline: 0; 
			&:hover { opacity: 1; }
		}

		&:disabled, &.disabled { 
			background: transparent;
			border-color: $gray;
			box-shadow: none;
			color: $gray;
			opacity: .3; 
			transform: translate(0, 0);
		}
	}

	.payment-errors {
		background: $error;
		border-radius: 3px;
		color: $white;
		display: none;
		margin: 6px 0;
		padding: 12px;
		width: 100%;
	}

	label.error-wrapper {
		input:required { 
			border-color: $gold; 
			&::placeholder { color: $gold; }
			&:hover {
				&::placeholder { color: $white; }
			}
			&:focus {
				border-color: $white;
				transition: none;
				&:hover { transition: none; }
				+ label.error { 
					background: linear-gradient($white, darken($white, 15)); 
					text-shadow: none; 
				}
			}
		}
	}

	label.error { 
		background: linear-gradient($gold, darken($gold, 15));
		border-radius: 0 0 3px 3px;
		box-sizing: border-box;
		color: $black;
		display: block;
		@include rem(font-size, 12px);
		font-weight: 900;
		margin: -1px 0 6px;
		padding: 6px 12px;
		position: relative;
		text-shadow: 1px 1px fade_out($white, .84);
		text-transform: uppercase;
		width: 100%;
		z-index: 500;
	}

	[type="tel"] + label.error { 
		width: 210px; 
		@media screen and (max-width: 1024px) {
			width: 100%; 
		}
	}
}