header[id="main"] {
	padding: 9px;
	width: 100%;
	z-index: 900;

	display: flex;
	align-items: center;

	.logo--extended { display: none; }

	.logo {
		height: $header-size;
		width: $header-size;

		// transition-style: preserve-3d;
		
		// perspective: 1000px;
		//transform: translateZ(-100px);

		a { 
			display: inline-block;
			position: relative;
			height: 100%;
			width: 100%;

			span { 
				display: flex;
				align-items: center;
				justify-content: center;
				transition: background 3s;

				position: absolute;
				height: 100%;
				width: 100%;

				// Colors
				&.front { background: linear-gradient(to bottom right, $black, lighten($gold, 10), $gold); background-size: 1000%; }
				&.bottom { background: linear-gradient(to bottom right, lighten($gold, 10), $gold); }

				// Positioning
				&.front { transform: rotateX(0deg) translateZ(50px); z-index: 9002; }
				&.bottom { transform: rotateX(-90deg) translateZ(-52px);  z-index: 9001; }
			}	
		}

		&:hover {
			//transform: rotateX(90deg);
			.front { background-size: 250%; transition: background 1s; }
		}
		
	}

	// .news {
	// 	display: none;
	// 	//background: pink;
	// 	font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	// 	margin-left: $margin/2*2;
	// 	min-width: 500px;
	// 	//width: calc(50% - #{$margin/2});

	// 	.heading { 
	// 		color: $gray;
	// 		text-transform: uppercase;
	// 		font-weight: 700;
	// 	}

	// 	.item {
	// 		color: $gray;
	// 		text-transform: uppercase;

	// 		.date {
	// 			color: $white;
	// 			font-size: 1.6rem;
	// 			font-weight: 700;
	// 			margin-right: 5px;
	// 		}

	// 		.tag {
	// 			border-radius: 4px;
	// 			color: $white;
	// 			font-size: 1.2rem;
	// 			font-weight: 700;
	// 			margin: 0 5px;
	// 			padding: 3px 9px;

	// 			&.sale {
	// 				background: $blue;
	// 			}
	// 		}

	// 		.content {
	// 			font-size: 1.6rem;
	// 			font-weight: 700;
	// 		}
	// 	}
	// }

	nav {
		display: flex;
		width: calc(100% - 100px);
		z-index: 900;

		ul {

			li { list-style: none; }

			&.links {
				display: flex;
				justify-content: flex-end;
				margin-right: $margin;
				width: 100%;

				> li {
					a { 
						@include rem(font-size, .9rem);
						border-bottom: 3px solid transparent;
						color: $gold;
						display: inline;
						font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
						font-weight: 700;
						margin: 0 10px;
						//padding: 0 0 1px 0;
						text-transform: uppercase;

						&.active {
							color: $white;
							border-color: $gold;
						}
					}

					// &:first-of-type a { margin-left: 0; }
					// &:last-of-type a { margin-right: 0; }

					> ul {
						background: fade_out($black, .15); // Dark Gold
						border-radius: 2px;
						margin-top: -2px;
						opacity: 0;
						position: absolute;
						transition: opacity .3s;
						visibility: hidden;

						li {
							margin: 9px 0;
							&:first-of-type { padding-top: 6px; }
							&:last-of-type { padding-bottom: 3px; }
							a { 
								color: $gold;
								//text-shadow: 0 0 9px scale-color($gold, $lightness: -78%);
								&:hover { color: $white; }
							}
						}
					}

					&:hover {
						> a { 
							color: $white; 

							// keeps parent li a "active" on ul li ul li:hover
							&:not(.subnav) {
								border-bottom: 3px solid $gold;
							}
						}

						> ul {
							visibility: visible;
							opacity: 1;
							transition: opacity 1s;
						}
					}
				}
			}
		}
	}
} // /header