nav[id="mobile"] {
  display: none;
  justify-content: space-between;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 100%;
  width: 100%;

  $toggle-w: 48px;

  .mobile__nav-toggle {
    background: fade-out($gold, 0.5);
    border-left: 3px solid $black;
    color: $white;
    cursor: pointer;
    pointer-events: auto;
    // padding-top: 42px;
    transition: 0.6s background ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: $toggle-w;

    &:hover {
      background: fade-out($gold, 0.3);
      transition: 0.3s background ease-in-out;
    }

    &.active {
      background: $black;
      &:hover {
        background: scale-color($gold, $lightness: -69%);
      }
    }
  }

  .mobile__nav-content {
    pointer-events: none;
    &.visible {
      background: $black;
      pointer-events: auto;
      height: 100vh;
      width: calc(100% - #{$toggle-w});
    }
  }

  .mobile__nav-items {
    display: none;
    height: 100%;
    width: 100%;

    li {
      background: fade-out($gold, 0.5);
      min-height: 47px;
      min-width: 84px;
      user-select: none;

      &:not(:last-of-type) {
        border-bottom: 3px solid $black;
      }
    }

    a {
      color: $white;
      font-weight: 800;
      letter-spacing: 0.1rem;
      text-transform: uppercase;

      display: flex;
      align-items: center;
      justify-content: center;

      flex: 1;

      height: 100%;

      @media screen and (max-width: 600px) {
        font-size: 12px;
      }

      &:hover {
        background: $black;
      }
    }

    &.show {
      @include flexFillParent();
    }

    li {
      @include loadIn(9);
    }
  }
}
