$black: #131313;
$gray: #858585;
$gold: #9a8b60;
$white: #FFF;
$blue: #0066ae;

$small-margin: 15px;

// homepage
$header-size: 100px;
$banner-height: 900px;
$banner-content-height: 300px;
