@(closures: List[models.site.ClosureNotice], localUser: models.security.User = null)
@import admin.wrapper
@wrapper(localUser, "closures", "viewClosures") {
<h3><i class="fas fa-angle-right"></i> Closure Database</h3>
<div class="row mt">
    <div class="col-lg-12">
        <div class="showback">
            <h4 class="mb"><i class="fas fa-angle-right"></i> Add New Closure Notice</h4>
            <form action="@routes.Admin.addClosure()" method="post" class="form-horizontal style-form">
                <label>Message:</label><br/><input type="text" name="message" class="form-control" required /><br/>
                <label>Make active immediately:</label><br/><input type="checkbox" name="enabled" class="form-control" /><br/>
                <input type="submit" id="submit" value="Add Closure Notice" class="btn btn-theme btn-block"/>
            </form>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="showback">
            <h4 class="mb"><i class="fas fa-angle-right"></i> Active Closure Notices</h4>
            @for(closure <- closures) {
                @if(closure.enabled) {
                <div class="well">
                    <p>@closure.message</p>
                    <p><a href="@routes.Admin.toggleClosure(closure.id, false)" class="btn btn-theme btn-block">Deactivate</a></p>
                    <p><a href="@routes.Admin.archiveClosure(closure.id)" class="btn btn-theme btn-block">Archive</a></p>
                </div>
                }
            }
        </div>
    </div>
    <div class="col-lg-12">
        <div class="showback">
            <h4><i class="fas fa-angle-right"></i> Inactive Closure Notices</h4>
            <section id="unseen">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Message</th>
                        <th>Create Date</th>
                        <th>Activate</th>
                        <th>Archive</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for(closure <- closures) {
                        @if(!closure.enabled) {
                            <tr>
                                <td>@closure.message</td>
                                <td>@closure.created.format("EEEE, MM/dd/yyyy h:mm a")</td>
                                <td><a href="@routes.Admin.toggleClosure(closure.id, true)" class="btn btn-theme btn-block">Activate</a></td>
                                <td><a href="@routes.Admin.archiveClosure(closure.id)" class="btn btn-theme btn-block">Archive</a></td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#datepicker1").datepicker({'autoclose': true});
        $("#datepicker2").datepicker({'autoclose': true});
    });
</script>
}