//
//** GENERIC TYPE
//

$base-font-size: 15px;
$roboto: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$typewriter: "Special Elite", "Helvetica Neue", Helvetica, Arial, sans-serif;

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-weight: 300;
	line-height: 1;
	margin: 15px 0 6px;
}

p { margin: 15px 0 1px; }

p a, .link {
	box-shadow: inset 0 -3px 0 0 fade_out($gray, .3);
	transition: box-shadow .3s, color .3s;

	&:hover { 
		box-shadow: inset 0 -3px 0 0 $gold; 
		transition: box-shadow .3s;
	}
}

%link { @extend .link; }

a {
	color: fade_out($white, .15);
	font-weight: 900;
	transition: color .3s;
	&:hover { color: $white; }

	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6 {
		@extend %link;
	}
}

h1, .h1 { 
	color: $white;
	@include rem(font-size, 12px); 
	font-weight: 900;
	line-height: 1;
	text-transform: uppercase;

	~ h2, .h2 {
		margin-top: 0;
		margin-bottom: $margin/1.5;
	}
}

h2, .h2 { @include rem(font-size, 36px); line-height: 1; text-transform: lowercase; }
h3, .h3 { @include rem(font-size, 30px); }
h4, .h4 { @include rem(font-size, 24px); }
h5, .h5 { @include rem(font-size, 42px); }
h6, .h6, p { @include rem(font-size, 15px); font-weight: 500; }

h5, .h5, h6, .h6 { color: $white;  }

.notice { color: $gold; }

.required { 
	color: mix($gold, $error);
	vertical-align: -6px;
	margin-left: 6px;
	@include rem(font-size, 21px);
}

.handwriting { font-family: $typewriter; }
.monospace { }

@mixin highlight($font: $typewriter, $bg: $gold, $color: $white) { 
	font-family: $font;
	margin: 18px 0 18px 15px;
	text-indent: -9px;
	transform: rotate(-.6deg);
	-webkit-backface-visibility: hidden;

	span {
		background: fade_out($bg, .3);
		box-shadow:	 9px 0 0 fade_out($bg, .3), 
								-9px 0 0 fade_out($bg, .3);
		box-decoration-break: clone;
		color: $color; 
		display: inline;
		@include rem(font-size, $margin);
		line-height: 1.15;
		padding: 3px 0;
	}
}

.highlight {
	@include highlight();
}



//
//** BANNER TYPOGRAPHY
//


//** OUTLINED
//** Usage: Large, Centered Headlines
//** Mixin: No function to pass, just better practice than @extend.
@mixin outline() {
	color: transparent;
	display: block;
	font-size: 13.2rem; // Fallback
	font-weight: 700;
	letter-spacing: .02rem;
	//line-height: 13.4rem;
	text-align: center;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: .08rem $gold;
	width: 100%;
}

//** LINES
//** Usage: Underneath "Outlined" / As short descriptor
//** Mixin: The $font-size function passes the text size, which is then divided by 1.75,
//**        allowing the line to center nicely for most sizes of type.
@mixin linethrough() {
	display: table;
	overflow: hidden;
	white-space: nowrap;
	&:before, &:after {
		border-top: 1px solid fade_out($gold, .5);
		content: '';
		display: table-cell;
		position: relative;
		top: .5em;
		width: 45%;
	}
	&:before { @include rem(right, 9px) }
	&:after { @include rem(left, 9px) }
}

// @mixin linethrough($font-size: 2.2rem/2.5) {
// 	display: table;
// 	overflow: hidden;
// 	white-space: nowrap;
// 	&:before, &:after {
// 		border-top: 1px solid fade_out($gold, .5);
// 		content: '';
// 		display: table-cell;
// 		position: relative;
// 		top: $font-size;
// 		width: 45%;
// 	}
// 	&:before { @include rem(right, 9px) }
// 	&:after { @include rem(left, 9px) }
// }


// Firefox just ruinin' things.
@-moz-document url-prefix() { 
  * { font-smoothing: antialiased; }
  p { font-weight: 400; }
}