// Palettes

$black: #131313;
.black {
  color: $black;
}

$white: #ffffff;
.white {
  color: $white;
}

$gray: #858585;
.gray {
  color: $gray;
}

$gray-l: mix($white, $gray);
$gray-d: mix($black, $gray);

$gold: #9a8b60;
.gold {
  color: $gold;
}

$blue: #0066ae;

$success: #369958;
$error: #db2f31;

// Defaults

$margin: 30px;

// Sizes
$header-size: 100px;

$banner-height: 900px;
$banner-content-height: 300px;

$footer-height: 660px;
