// Palettes

$black: #131313;
.black { color: $black; }

$gray: #959595;
.gray { color: $gray; }

$gold: #9a8b60;
.gold { color: $gold; }

$white: #FFF;
.white { color: $white; }

$blue: #0066ae;

$success: #369958;
$error: #DB2F31;

// Defaults

$margin: 30px;

// Sizes
$header-size: 100px;

$banner-height: 900px;
$banner-content-height: 300px;

$footer-height: 660px;
