@(event: models.skatepark.Event, localUser: models.security.User = null)
@import admin.wrapper
@wrapper(localUser, "events", "viewEvent") {

<h3><i class="fas fa-angle-right"></i> Event Database</h3>
<div class="row mt">
    <div class="col-lg-12">
        <div class="form-panel">
            <h4 class="mb"><i class="fas fa-angle-right"></i> Edit Event</h4>
            <form action="@routes.Admin.editEvent(event.id)" method="post" class="form-horizontal style-form" id="editEventForm">
                <label>Event Name:</label><br/><input type="text" name="name" class="form-control" value="@event.name"/><br/>
                <label>Date:</label><br/><input type="text" id="date" value="@event.startTime.format("yyyy-MM-dd")" class="form-control" data-date-format="yyyy-mm-dd" /><br/>
                <label>Start Time:</label><br/><input type="text" id="start" value="@event.startTime.format("hh:mm a")" class="form-control" /><br/>
                <label>End Time:</label><br/><input type="text" id="end" value="@event.endTime.format("hh:mm a")" class="form-control" /><br/>
                </p>

                <!-- Hidden form elements for model binding -->
                <input type="text" name="startTime" id="startTime" value="@event.startTime.format("yyyy-MM-dd hh:mm a")" hidden/>
                <input type="text" name="endTime" id="endTime" value="@event.endTime.format("yyyy-MM-dd hh:mm a")" hidden/>
                <label>Reserve Entire Park:</label><br/><input type="checkbox" name="reservePark" @if(event.reservePark){checked} class="form-control" /><br/>
                <label>Private Notes:</label><br/><textarea name="privateNotes" id="privateNotes">@event.privateNotes</textarea><br/>

                <h3>Public Info</h3>

                <label>Public Visibility:</label><br/><input type="checkbox" name="publicVisibility" @if(event.publicVisibility){checked} class="form-control" /><br/>
                <label>Registrable:</label><br/><input type="checkbox" name="registrable" @if(event.registrable){checked} class="form-control" /><br/>
                <label>Registration End Date:</label><br/><input name="registrationEndDate" id="datepicker3" value="@if(event.registrationEndDate != null){@event.registrationEndDate.format("MM/dd/yyyy")}" class="form-control" /><br/>
                <label>Maximum Registrations:</label><br/><input type="text" name="maxRegistrations" value="@event.maxRegistrations" class="form-control" /><br/>
                <label>Registration Cost (omit $ sign):</label><br/><input type="text" name="cost" value="@event.cost" class="form-control" /><br/>
                <label>Archived/Hidden:</label><br/><input type="checkbox" name="archived" @if(event.archived){checked} class="form-control" /><br/>
                <label>Public Notes:</label><br/><textarea name="notes" id="notes">@event.notes</textarea><br/>
                <input type="submit" id="submit" value="Edit Event" class="btn btn-theme btn-block"/>
            </form>
        </div>
    </div>
</div>
    <script>
        $(document).ready(function(){
            $("#notes").ckeditor({});
            $("#privateNotes").ckeditor({});
            $('#start').timepicker({
                'timeFormat': 'h:i A',
                'minTime': '8:00am',
                'maxTime': '11:59pm'
            });
            $('#end').timepicker({
                'timeFormat': 'h:i A',
                'minTime': '8:00am',
                'maxTime': '11:59pm'
            });
            $('#date').datepicker({
                'autoclose': true
            });
            $('#datepicker3').datepicker({
                'autoclose': true
            });
            $('#editEventForm').submit(function() {
                $('#startTime').val($('#date').val() + " " + $('#start').val());
                $('#endTime').val($('#date').val() + " " + $('#end').val());
            });
        });
    </script>
}
