@(upcomingEvents: List[models.skatepark.Event], pastEvents: List[models.skatepark.Event], localUser: models.security.User = null)
@import admin.wrapper
@wrapper(localUser, "events", "viewEvent") {
<h3><i class="fa fa-angle-right"></i> Event Database</h3>
<div class="row mb">
    <div class="col-lg-12">
        <div class="showback">
            <a href="@routes.Admin.addEventPage()" class="btn btn-theme pull-right">Add New Event</a>
            <h4><i class="fa fa-angle-right"></i> Upcoming Events</h4>
            <section id="unseen">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Public</th>
                        <th>Reserved</th>
                        <th>Registrations</th>
                        <th>View</th>
                        <th>Edit</th>
                        <th>Archive</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for(event <- upcomingEvents) {
                        <tr>
                            <td><a href="@routes.Admin.viewEventPage(event.id)">@event.name</a></td>
                            <td>@if(null != event.startTime) { @event.startTime.format("EEEE, MM/dd/yyyy") }</td>
                            <td>@if(null != event.startTime) { @event.startTime.format("h:mm a") }</td>
                            <td>@if(null != event.endTime) { @event.endTime.format("h:mm a") }</td>
                            <td>@if(event.publicVisibility) { <i class="fa fa-2x fa-check-circle"></i> }</td>
                            <td>@if(event.reservePark) { <i class="fa fa-2x fa-check-circle"></i> }
                                @for(warn <- event.findConflicts()){
                                    <a href="@routes.Admin.viewEventPage(warn.id)" class="btn btn-danger"><i class="fa fa-warning"></i> Conflict!</a>
                                }
                            </td>
                            <td>@if(event.registrable) { @event.registrations.size()/@event.maxRegistrations } else { n/a }</td>
                            <td><a href="@routes.Admin.viewEventPage(event.id)" class="btn btn-theme btn-block">View</a></td>
                            <td><a href="@routes.Admin.editEventPage(event.id)" class="btn btn-theme btn-block">Edit</a></td>
                            <td><a href="@routes.Admin.archiveEvent(event.id)" class="btn btn-theme btn-block">Archive</a></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </section>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="showback">
            <h4><i class="fa fa-angle-right"></i> Past Events</h4>
            <section id="unseen">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Public</th>
                        <th>Park Reserved</th>
                        <th>View</th>
                        <th>Edit</th>
                        <th>Archive</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for(event <- pastEvents) {
                    <tr>
                        <td><a href="@routes.Admin.viewEventPage(event.id)">@event.name</a></td>
                        <td>@if(null != event.startTime) { @event.startTime.format("MM/dd/yyyy") }</td>
                        <td>@if(null != event.startTime) { @event.startTime.format("h:mm a") }</td>
                        <td>@if(null != event.endTime) { @event.endTime.format("h:mm a") }</td>
                        <td>@if(event.publicVisibility) { <i class="fa fa-2x fa-check-circle"></i> }</td>
                        <td>@if(event.reservePark) { <i class="fa fa-2x fa-check-circle"></i> }</td>
                        <td><a href="@routes.Admin.viewEventPage(event.id)" class="btn btn-theme btn-block">View</a></td>
                        <td><a href="@routes.Admin.editEventPage(event.id)" class="btn btn-theme btn-block">Edit</a></td>
                        <td><a href="@routes.Admin.archiveEvent(event.id)" class="btn btn-theme btn-block">Archive</a></td>
                    </tr>
                    }
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){

    });
</script>
}