@(event: models.skatepark.Event, logs: List[models.security.AuditRecord], localUser: models.security.User = null)
@import admin.wrapper
@wrapper(localUser, "events", "viewEvent") {
<h3><i class="fa fa-angle-right"></i> Event Database</h3>
<div class="col-lg-12">
    <div class="showback">
        <a href="@routes.Admin.editEventPage(event.id)" class="btn btn-theme pull-right">Edit</a>
        <h4><i class="fa fa-angle-right"></i> Event Details</h4>
        @for(warn <- event.findConflicts()){
            <a href="@routes.Admin.viewEventPage(warn.id)" class="btn btn-danger btn-block"><i class="fa fa-warning"></i> @warn.name is scheduled at the same time!</a>
        }
        <table class="table table-bordered">
            <tr>
                <td>Name</td>
                <td>@event.name</td>
            </tr>
            <tr>
                <td>Reserve Entire Park</td>
                <td>@if(event.reservePark) { <i class="fa fa-2x fa-check-circle"></i> }
            </tr>
            <tr>
                <td>Archived/Hidden</td>
                <td>@if(event.archived) { <i class="fa fa-2x fa-check-circle"></i> }
            </tr>
            <tr>
                <td>Date</td>
                <td>@if(null != event.startTime) { @event.startTime.format("EEEE, MM/dd/yyyy") }</td>
            </tr>
            <tr>
                <td>Start Time</td>
                <td>@if(null != event.startTime) { @event.startTime.format("h:mm a") }</td>
            </tr>
            <tr>
                <td>End Time</td>
                <td>@if(null != event.endTime) { @event.endTime.format("h:mm a") }</td>
            </tr>
            <tr>
                <td>Private Notes</td>
                <td>@Html(event.privateNotes)</td>
            </tr>
            <tr>
                <td>Public Visibility</td>
                <td>@if(event.publicVisibility) { <i class="fa fa-2x fa-check-circle"></i> }
            </tr>
            <tr>
                <td>Registrable</td>
                <td>@if(event.registrable) { <i class="fa fa-2x fa-check-circle"></i> }
            </tr>
            <tr>
                <td>Registration End Date</td>
                <td>@if(null != event.registrationEndDate) { @event.registrationEndDate.format("MM/dd/yyyy") }</td>
            </tr>
            <tr>
                <td>Registrations</td>
                <td>@if(null != event.maxRegistrations) { @event.registrations.size()/@event.maxRegistrations }</td>
            </tr>
            <tr>
                <td>Cost</td>
                <td>@utils.Formatter.prettyDollarsAndCents(event.cost)</td>
            </tr>
            <tr>
                <td>Public Notes</td>
                <td>@Html(event.notes)</td>
            </tr>
        </table>
    </div>
    <div class="showback">
        <h4><i class="fa fa-angle-right"></i> Audit Records</h4>
        <section id="unseen">
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Action</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                @for(log <- logs) {
                <tr>
                    <td>
                        @if(log.user != null) {
                        <img src="@log.user.photoUrl" class="img-circle" width="20"> @log.user.name
                        } else {
                        <img src="@routes.Assets.at("img/cw--logo--lettermark-black.png")" class="img-circle" width="20"> System
                        }
                    </td>
                    <td>
                        @log.delta
                    </td>
                    <td><span class="timeago" title="@log.timestamp.format("yyyy-MM-dd'T'HH:mmZ")"></span></td>
                </tr>
                }
                </tbody>
            </table>
        </section>
    </div>
</div>
@if(event.registrable || (event.registrations.size() > 0)) {
    <div class="col-lg-12">
        <div class="showback">
            @if(event.registrable) {
                <a href="@routes.Admin.eventRegistrationPage(event.id)" class="btn btn-theme pull-right">Add Registration</a>
            }
            <h4><i class="fa fa-angle-right"></i> Registration Details</h4>
            @if(event.registrations.size() == 0) {
            <i>No registrations currently recorded</i>
            } else {
            <table class="table table-bordered">
                <tr>
                    <td>Registrant Email</td>
                    <td>Participant Name</td>
                    <td>Registration Date</td>
                    <td>Paid?</td>
                    <td>Payment Type</td>
                    <td>Total Paid</td>
                    <td>Notes</td>
                    <td>Edit</td>
                </tr>
                @for(reg <- event.registrations) {
                <tr>
                    <td>@reg.registrantEmail</td>
                    <td>@reg.participantName</td>
                    <td>@reg.timestamp.format("MM/dd/yyyy")</td>
                    <td>@if(reg.paid) { <span class="label label-success">PAID</span> } else { <span class="label label-danger">UNPAID</span> }</td>
                    <td><span class="label label-primary">@reg.paymentType</span></td>
                    <td>@utils.Formatter.prettyDollarsAndCents(reg.totalPaid)</td>
                    <td>@Html(reg.notes)</td>
                    <td><a href="@routes.Admin.editEventRegistrationPage(reg.id)" class="btn btn-primary btn-xs">Edit</a></td>
                </tr>
                }
            </table>
            }
        </div>
    </div>
}
<script>
    $(document).ready(function(){
        $("span.timeago").timeago();
    });
</script>
}

