body.about {
	background-image: image-url("about/2012__park-interior-header--001.jpg");

	.story, .features { margin-top: 30px; }

	.features {
		img {
			margin-top: $margin/2;
			//max-width: 648px;
			width: 100%;
		}
	}

	.team {
		li {
			display: flex;
			margin: $margin/2 0;

			.name { 
				color: $gold;
				font-weight: 500;
			}

			em { 
				font-style: normal;
			}
		}
	}

	[id="map"] {
		height: 300px;
		margin-top: $margin/2;
	}
}