// Blog on Homepage
body.home [id="blog"] { 
	margin: 0 0 0 36px; 
	article { margin-bottom: $margin*2; }
}

// Blog Not Homepage
body:not(.home) {
	[id="blog"], [id="blog-entry"] {
		article { 
			margin-left: -12px; 
			width: 45%;
			main, main p { line-height: 1.8; }
			footer { @include bottomBorder(); }
		}
	}
}

// Shared Blog Styles
body.blog { background-image: image-url("about/2014__park-exterior-header--001.jpg"); }

[id="blog"] { margin: 0 $margin*2; }

[id="blog"], [id="blog-entry"] {
	// display: flex;
	// flex-wrap: wrap;
	width: 100%;

	article { 
		&.post-preview { 
			width: 100%; 
		}

		// &+& == all but the first
		& + & { margin-top: $margin; }

		header {
			padding: 0 $margin/2;

			.h5 { 
				@include rem(font-size, 60px);
				line-height: .9;
				padding-right: 45%;
				a.more { 
					box-shadow: none; 
					font-weight: 600;
					&:hover { 
						box-shadow: inset 0 -9px 0 0 #9A8B60;
					}
				}
			}

			.meta {
				display: flex;
				align-content: center;
				font-feature-settings: normal;
				@include rem(font-size, 1rem);
				@include rem(letter-spacing, .003rem);
				margin: 9px 0 0 0;
				text-transform: uppercase;

				.date { 
					color: $gold;
					font-weight: 700; 
					margin-right: $margin/2;
				}

				.tags {
					a { 
						border-width: 2px;
						font-weight: 700; 
					}
					color: $gray;
				}
			}
		}

		main, main p {
			@include rem(font-size, 18px);
			line-height: 1.5;

			&::selection {
				color: $white;
			}
		}

		.tags a { 
			color: fade_out($white, .15);
			box-shadow: inset 0 -1px 0 0 fade_out($gold, .6);
			transition: box-shadow .3s, color .3s;

			&:hover { 
				color: $white; 
				box-shadow: inset 0 -1px 0 0 $gold;
				transition: box-shadow .3s;
			}
		}

		img { max-width: 100%; }

		main {
			margin: 18px 0;
			padding: 0 $margin/2;
		}

		footer {
			//@include bottomBorder();
			display: flex;

			> * { width: calc(100%/2); }

			a {
				&.more { @extend .link; float: left; margin-right: $margin; }
				&.comments { float: right; }
			}

			.share { 
				display: flex;
				justify-content: flex-end;
			}
		}
	}
}

[id="blog-entry"] {
	article {
		header { 
			h2 { margin-bottom: 0; }
			.meta { margin-top: 0px; }
		}

		main {
			@include rem(font-size, 18px);;
			padding-bottom: 0;
		}

		footer {
			.backtrack p { 
				@include rem(font-size, 10.5px);
				@include rem(letter-spacing, .5px);
				margin: 0 0 0 $margin/1.5;
				text-transform: uppercase;
			}
		}
	}
}