body.home {
	background: $black;
	color: $white;
	max-width: 1600px;

	[id="carousel"] + [id="content"] { 
		// Negative margin is half the size of the banner + $margin for padding.
		margin: calc(#{-$banner-height/2} + #{$margin}) auto 0;
	}

	[id="content"] {
		background: linear-gradient(top, transparent, fade_out($black, .5));

		section {
			order: 1;
			min-width: 240px;
			width: calc(70% - 39px);
		}
	} // /#content
}