body.sessions {
	background-image: image-url("events/2013__SLAG-header--001.jpg");

	[id="sessions"] {
		.h5 { margin-bottom: 0; }
		.when { 
			color: $gold;
			@include rem(font-size, 18px); 
			margin-top: 6px;
		}

		ul {
			list-style: disc;
			margin-top: 3px;
			li {
				@include rem(font-size, 16px);
				margin-left: 21px;
				padding: 1px 0 0 0;
			}
		}

		.grid img { margin-top: $margin; }
	}
}