body.sessions {
	background-image: image-url("events/2013__SLAG-header--001.jpg");

	.h5 { margin-bottom: 0; }
	.when { 
		color: $gold;
		@include rem(font-size, 18px); 
		margin-top: 6px;
	}

	.grid img { margin-top: $margin; }
}