body.shop {
	background-image: image-url("index/banner/bg__001--default.png");
	[id="shop"] { 
		// background: $white; 
		// margin: 0;
		// padding: 0 $margin*4;
		// width: 100%;

		.items {
			display: flex;
			flex-wrap: wrap;

			.item {
				padding: $margin;
				width: calc(50% - #{$margin*2});
			}
		}
	}

	.features .overview { margin-top: 30px; }

	.features {
		img {
			margin-top: $margin/2;
			//max-width: 648px;
			width: 100%;
		}
	}

	.overview {
		.highlight span {
			@extend .handwriting;
			@include rem(font-size, 21px);
			line-height: 1.32;
			padding: 9px 0 3px;
		}
	}
}