@(sales: List[models.skatepark.UnheardSale], localUser: models.security.User = null)
@import admin.wrapper
@wrapper(localUser, "register", "unheard") {
<h3><i class="fa fa-angle-right"></i> Unheard Sale Database</h3>
<div class="row mb">


    <div class="col-lg-12">
        <div class="showback">
            <h4><i class="fa fa-angle-right"></i> New Unheard Sale</h4>
            <form action="@routes.Admin.addUnheardSale()" method="post" class="form-horizontal style-form">
                <label>Brand:</label><br/>
                <select name="brand" class="form-control">
                    <option value="">--- Select One ---</option>
                    <option value="Unheard">Unheard</option>
                    <option value="Lifeblood">Lifeblood</option>
                    <option value="Dieta">Dieta</option>
                    <option value="Bacon">Bacon</option>
                    <option value="Portland Wheel Company">Portland Wheel Company</option>
                    <option value="Ace Trucks">Ace Trucks</option>
                    <option value="Freedumb Airlines">Freedumb Airlines</option>
                    <option value="Jessup">Jessup</option>
                    <option value="Eleven 11">Eleven 11</option>
                    <option value="Other">Other</option>
                </select>
                <label>Description:</label><br/><input type="text" name="description" class="form-control" placeholder="Item Description"/><br/>
                <label>Retail Price:</label><br/><input type="text" name="retailPrice" class="form-control" placeholder="0.00"/><br/>
                <label>Team Rider Sale:</label><br/><input type="checkbox" name="teamRiderSale" class="form-control" /><br/>
                <input type="submit" id="submit" value="Add Unheard Sale" class="btn btn-theme btn-block"/>
            </form>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="showback">
            <h4><i class="fa fa-angle-right"></i> Uninvoiced Sales</h4>
            <section id="unseen">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Brand</th>
                        <th>Description</th>
                        <th>Retail Price</th>
                        <th>Team Rider Sale</th>
                        <th>Sold By</th>
                        <th>Sale Date</th>
                        <th>Delete</th>
                        <th>Mark Invoiced</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for(sale <- sales) {
                        <tr>
                            <td>@sale.brand</td>
                            <td>@sale.description</td>
                            <td>@utils.Formatter.prettyDollarsAndCents(sale.retailPrice)</td>
                            <td>@if(sale.teamRiderSale) { Yes } else { No }</td>
                            <td>@sale.soldBy.name</td>
                            <td>@sale.created.format("MM/dd/yyyy h:mm a")</td>
                            <td><a href="@routes.Admin.deleteUnheardSale(sale.id)" class="btn btn-theme btn-block">Delete</a></td>
                            <td>@if(sale.invoiced){<i>Already Invoiced</i>}else{<a href="@routes.Admin.invoiceUnheardSale(sale.id)" class="btn btn-theme btn-block">Mark Invoiced</a>}</td>
                        </tr>
                    }
                    </tbody>
                </table>
                <p>Bonus Features: <a href="?showAll=true">Show all sales, invoiced or not</a>. <a href="?showAll=false">Show uninvoiced sales only</a>.</p>
            </section>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){

    });
</script>
}