@(registration: models.skatepark.Registration)

@main("event email") {
<p>Thanks for registering for Commonwealth Skatepark's event, @registration.event.name.</p>

<p>This registration's confirmation ID is @registration.confirmationId and is valid for @registration.participantName.</p>

@if(!registration.paid) {<p>Your payment of @utils.Formatter.prettyDollars(registration.totalPaid) has been received, and the remaining @utils.Formatter.prettyDollars(registration.event.cost - registration.totalPaid) is due by @registration.event.startTime.format("MM/dd/yyyy").</p>}

<p>This event is scheduled on @registration.event.startTime.format("MM/dd/yyyy") between @registration.event.startTime.format("hh:mm a")
    @registration.event.endTime.format("hh:mm a").</p>

<p>For more information on this event, please see the event on
    <a href="@play.Play.application().configuration().getString("application.baseUrl")@routes.Application.eventDetail(registration.event.id)">our website</a>.</p>

<p>Thank you,<br/>Commonwealth Skatepark<br/>
    <a href="@play.Play.application().configuration().getString("application.baseUrl")">@play.Play.application().configuration().getString("application.baseUrl")</a></p>

}