@(user: models.security.User, logs: List[models.security.AuditRecord], localUser: models.security.User = null)
@import admin.wrapper
@wrapper(localUser, "user", "viewUsers") {

<h3><i class="fa fa-angle-right"></i> User Database</h3>
<div class="row mb">

    <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="showback">
            <h4><i class="fa fa-angle-right"></i> Details for @user.name</h4>
            <section id="unseen">
                <table class="table table-bordered table-striped table-condensed">
                    <tbody>
                        <tr>
                            <td>Last Login:</td>
                            <td><span class="timeago" title="@user.lastLogin.format("yyyy-MM-dd'T'HH:mmZ")"></span></td>
                        </tr>
                        <tr>
                            <td>Membership:</td>
                            <td>@if(null != user.membership) {
                                    <a href="@routes.Admin.viewMemberPage(user.membership.id)">@user.membership.name</a>
                                } else {
                                    <i>None</i>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>Guardian Of:</td>
                            <td>
                                @for(kid<-user.guardianOf) {
                                    <li><a href="@routes.Admin.viewMemberPage(kid.id)">@kid.name</a></li>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>

        <div class="showback">
            <h4><i class="fa fa-angle-right"></i> Records Within The Last Month</h4>
            <section id="unseen">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>User</th>
                        <th>Action</th>
                        <th>Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for(log <- logs) {
                    <tr>
                        <td><img src="@log.user.photoUrl" class="img-circle" width="20"> @log.user.name</td>
                        <td>
                            @log.delta
                            @if((null != log.visit) && (log.visit.isValidNow())) {
                            <a href="@routes.Admin.undoVisit(log.visit.id)" class="pull-right">
                                <span class="label label-warning">Undo/Refund</span></a>
                            }
                        </td>
                        <td><span class="timeago" title="@log.timestamp.format("yyyy-MM-dd'T'HH:mmZ")"></span></td>
                    </tr>
                    }
                    </tbody>
                </table>
            </section>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="showback">
            <p class="text-center">
                <img src="@user.photoUrl" class="img-responsive center-block"><br/>
            </p>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("span.timeago").timeago();
    });
</script>
}