@media screen and (max-width: 1024px) {	
	html { font-size: 95% !important; }
}

@media screen and (max-width: 960px) {
	html { font-size: 75% !important; }
	[id="carousel"] { font-size: 50% !important; }
	[id="content"] {
		//main[data-purpose="flex-container"] section:not(#blog):not(#shop) { margin: 0 30px !important; }
	}	
}

@media screen and (max-width: 800px) {
	html { font-size: 100% !important; }

	.grid { 
		> * { margin: 0 !important; width: 100% !important; }
	}

	header[id="main"] {
		position: static !important;
		nav {
			font-size: 80% !important;
			> ul { 
				flex-wrap: wrap !important;
				justify-content: flex-end !important;
				margin: 0 !important; 

				li { 
					margin: 6px 0 !important;
					a { width: 100% !important; }
					> ul { display: none !important; }
				}
			}
		}
	}

	[id="carousel"] { display: none !important; }
	.home [id="content"] { 
		padding: 30px !important;
		margin: 0 !important ; 
	}
	[id="info"], [id="blog"] { width: 100% !important; }
	[id="info"] { order: 1 !important; }

	[id="shop"] .items .item { margin: 15px 0 !important; padding: 0 !important; width: 100% !important; }

	.camp table[id="camps"] {
		tr, a { font-size: 13px !important; font-weight: 900 !important; }
		th, td { padding: 15px 6px !important; }
	}
	.camp-detail {
		.sign-up { order: 2 !important; width: 100% !important; margin-top: 30px !important; 
			radiogroup input[type="radio"] + label { font-size: 15px !important; }
			button[type="submit"] { width: 90% !important; }
			.flex { flex-wrap: wrap !important; }
		}
		.details { order: 1 !important; width: 100% !important; padding: 0 !important; }
	}
	[id="blog"] { display: none !important; order: 2 !important; margin: 30px 0 0 0 !important; }

	footer {
		margin-top: 15px !important;
		.sponsors ul { width: 100% !important; }
		.info { flex-wrap: wrap !important; height: auto !important; }
		.contact, nav { height: 240px !important; width: 100% !important; }
		.physical { order: 1 !important; align-self: center !important; padding: 24px 60px !important; }
		.social {
			align-self: flex-end !important;
			border-top: 2px solid #131313 !important;
			a { order: 2 !important; }
		}
		nav { 
			padding: 36px 15px !important; 
			&:before { left: 69% !important; }
			> ul {
				> li:not(:first-of-type) { margin-left: 12px !important; }
			}
		}
	}

	.quad {
		> div { width: 100% !important; }
	}
}

// Mobile Phones

@media screen and (max-device-width: 420px) {
	html { font-size: 90% !important; }

	body.home {
		//background: red !important;
	}

	[id="carousel"] { 
		//display: none !important;
		//.arrow.prev, .arrow.next { display: none !important; }
	}

	header[id="main"] nav { display: none !important; }
	.camp-detail {
		.sign-up {
			[id="cvc"] { margin-left: 0 !important; }
		}
	}

}