@()

@main("about") {
<section id="about">
	<h1>The Park &amp; the People</h1>
	<h2>About</h2>
	<article>
		<p class="h6">The History</p>
		<p>CW history. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean gravida quam ac nunc efficitur pulvinar. Pellentesque tristique at risus sed consectetur. Aliquam id magna ut tortor laoreet rhoncus. Morbi molestie varius quam, eu feugiat sapien sodales placerat. Proin eget eros rhoncus, pellentesque neque at, laoreet ipsum. Morbi in arcu justo. Morbi et viverra tortor, et faucibus felis. Maecenas sed ex augue. Nullam tortor ante, interdum sed aliquam a, vulputate a quam. Curabitur dapibus ullamcorper nibh quis finibus. Morbi et erat risus. Nullam interdum finibus tincidunt. Vivamus et cursus urna. In viverra nisi diam, faucibus mattis eros pellentesque non. Maecenas lacus tellus, iaculis eu iaculis quis, ornare ut sem.</p>

		<p>Vivamus vulputate a leo mattis volutpat. Donec sodales nunc ante, sed consectetur ex aliquet in. <a href="#">Cras et nunc justo.</a> Nullam mattis eu leo quis molestie. Morbi aliquam maximus lacus, et auctor velit lacinia luctus. Etiam non nisi eget ligula tincidunt imperdiet. Quisque aliquam ipsum nunc, sed rutrum nisi iaculis dictum. Cras id placerat odio. Donec elementum lorem at tristique tristique.</p>

		<p class="h6">The Future</p>
		<p>Current &amp; future projections, references to Last Place? Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean gravida quam ac nunc efficitur pulvinar. Pellentesque tristique at risus sed consectetur. Aliquam id magna ut tortor laoreet rhoncus. Morbi molestie varius quam, eu feugiat sapien sodales placerat. Proin eget eros rhoncus, pellentesque neque at, laoreet ipsum. Morbi in arcu justo. Morbi et viverra tortor, et faucibus felis. <a href="#">Maecenas sed</a> ex augue. Nullam tortor ante, interdum sed aliquam a, vulputate a quam. Curabitur dapibus ullamcorper nibh quis finibus. Morbi et erat risus. Nullam interdum finibus tincidunt. Vivamus et cursus urna. In viverra nisi diam, faucibus mattis eros pellentesque non. Maecenas lacus tellus, iaculis eu iaculis quis, ornare ut sem.</p>

		<p>Vivamus vulputate a leo mattis volutpat. Donec sodales nunc ante, sed consectetur ex aliquet in. Cras et nunc justo. Nullam mattis eu leo quis molestie. Morbi aliquam maximus lacus, et auctor velit lacinia luctus. Etiam non nisi eget ligula tincidunt imperdiet. Quisque aliquam ipsum nunc, sed rutrum nisi iaculis dictum. Cras id placerat odio. Donec elementum lorem at tristique tristique.</p>
	</article>

	<article>
		<p class="h6">Staff</p>
		<p>Name | Role</p>
		<p>Name | Role</p>
		<p>Name | Role</p>
		<p class="h6">Investors/Behind-the-Scenes</p>
		<p>Name | Role</p>
		<p>Name | Role</p>
		<p>Name | Role</p>
		<p>Name | Role</p>
		<p>Name | Role</p>
		<p>Name | Role</p>
	</article>

</section>
}