@(blogs: List[models.site.NewsItem], page: Long, hasNextPage: Boolean)

@main("blog", false, "News & Blog | Commonwealth Skateboarding | Portland, Oregon") {

<section id="blog">
    <p class="h1">News &amp; Things</p>
    <h2>Blog</h2>
    @for(blog <- blogs) {
        <article>
            <header>
                <p class="h5"><a href="@routes.Application.showNews(blog.id)" class="more">@blog.title</a></p>
                <div class="meta">
                    <div class="date">
                        <time>@blog.createDate.format("MMMM dd, yyyy")</time>
                    </div>
                    <!-- <div class="tags">
                        <a href="#">News</a>
                    </div> -->
                </div>
            </header>
            <main>
                @Html(blog.content)
                @if(blog.extendedContent) {
                    <br/><br/>
                    @Html(blog.extendedContent)
                }
            </main>
            <footer>
                <div class="share">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="@play.Play.application().configuration().getString("application.baseUrl")@routes.Application.showNews(blog.id)" data-text="@blog.title" data-via="CommonwealthSk8">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div>
            </footer>
        </article>
    }

    @if(page >= 1) {
        <p><a href="@routes.Application.blog(page-1)" class="btn"><i class="fa fa-arrow-left"></i> Previous Page</a></p>
    }
    @if(hasNextPage) {
        <p><a href="@routes.Application.blog(page+1)" class="btn">Next Page <i class="fa fa-arrow-right"></i></a></p>
    }
</section> <!-- /#blog -->

}
