@(camp: models.skatepark.Camp)

@main("camp-detail") {
<section id="camp-detail">
	<a href="@routes.Application.camp()"><p class="h1">&lt; Back to all camps</p></a>
	<p class="h2">@camp.title</p>

	<div class="grid no-margin">
		<div class="details">
			<p class="h4">Details</p>
			<ul>
				<li class="registration-end">
					<p class="h6">Registration Ends</p>
					<p>@camp.registrationEndDate.format("M/dd")</p>
				</li>
				<li class="registrants">
					<p class="h6">Capacity</p>
					<p>@camp.registrations.size()/@camp.maxRegistrations</p>
				</li>
				<li class="cost">
					<p class="h6">Cost</p>
					<p>@utils.Formatter.prettyDollars(camp.cost)</p>
				</li>
				<li class="schedule">
					<p class="h6">Schedule</p>
					<p>@camp.scheduleDescription</p>
				</li>
				<li class="instructors">
					<p class="h6">Instructors</p>
					<p>
						<a href="#">Frank Shaw</a> <br/>
						<a href="#">Garric Ray</a>
					</p>
				</li>
				<li class="description">
					<p class="h6">Summer Camps</p>
					<p>Our summer skateboard camps are the one of the funnest and fastest ways to get better at skateboarding and experience all of the best outdoor skate parks in the greater Portland area. Each day we warm up at Commonwealth for an hour before loading up in our camp van and heading out to 2 or 3 different skateparks each day.</p>

					<p>Camps run Monday through Thursday from 9:00AM to 4:00PM.</p>
					<p>Ages 6-14.</p>
					<p class="notice"><strong>A $100 non-refundable deposit is required for each participant.</strong></p>
				</li>
			</ul>
		</div>

		<div class="sign-up">
			@if(camp.registrations.size() < camp.maxRegistrations) {
				<p class="h4">Sign Up</p>

				@******************************************
				* https://stripe.com/docs/tutorials/forms *
				******************************************@

				<form action="@routes.Application.registerForCampWithStripe(camp.id)" method="POST" id="payment-form">

        	<script src="https://checkout.stripe.com/checkout.js"></script>

					<div class="form-row">
						<label>
							<span class="h6">Participant Name</span>
							<input id="name" name="name" type="text" placeholder="Jane Doe" required autofocus>
						</label>
					</div>
					
					<div class="form-row">
						<label>
							<span class="h6">Billing Name</span>
							<input id="name" name="billingName" type="text" placeholder="John Doe Sr." required>
						</label>
					</div>

					<div class="form-row">
						<label>
							<span class="h6">Billing Email</span>
							<input id="email" name="email" type="email" placeholder="johndoesr&#064;anonymous.com">
						</label>
					</div>

					<div class="form-row">
						<label>
							<span class="h6">Phone Number</span>
							<input id="tel" name="telephone" type="tel" placeholder="(555) 555-5555">
						</label>
					</div>

					<div class="form-row flex">
						<label class="card">
							<span class="h6">Card Number</span>
							<input id="card" type="text" pattern="[0-9]{13,16}" size="20" data-stripe="number" placeholder="#" required>
						</label>

						<label class="cvc">
							<span class="h6">CVC</span>
							<input id="cvc" type="text" size="4" data-stripe="cvc" placeholder="#" required>
						</label>

						<label class="expiration">
							<span class="h6">Expiration (MM/YYYY)</span>
							<input id="exp-month" type="text" size="2" data-stripe="exp-month" placeholder="MM" required>
						
							<span> / </span>

							<input id="exp-year" type="text" pattern="[0-9]{4}" size="4" data-stripe="exp-year" placeholder="YYYY" required>
						</label>
					</div>

					<div class="form-row">
						<p class="h6">Choose Payment Amount</p>
						<radiogroup>
							<input type="radio" name="payment" id="full-price" checked="checked" required><label for="full-price"> <i class="fa fa-check"></i> <strong>Full</strong>&nbsp;(@utils.Formatter.prettyDollars(camp.cost))</label>

							 <input type="radio" name="payment" id="deposit"><label for="deposit"> <i class="fa fa-check"></i> <strong>Deposit</strong>&nbsp;($100)</label>
						</radiogroup>
					</div>

					<span class="payment-errors"></span>

					<footer>
						<button type="submit">Register <i class="fa fa-arrow-right"></i></button>
					</footer>

					<script>
            var handler = StripeCheckout.configure({
              key: '@controllers.Stripe.STRIPE_PUBLIC_KEY',
              image: '@routes.Assets.at("img/cw--logo--lettermark-black.png")',
              token: function(token) {
                  var $form = $('#payment-form');
                  // Insert the token into the form so it gets submitted to the server
                  $form.append($('<input type="hidden" name="stripeToken" />').val(token.id));
                  $form.append($('<input type="hidden" name="stripeEmail" />').val(token.email));
                  // and submit
                  $form.get(0).submit();
              }
            });

            $('#pay').on('click', function(e) {
              handler.open({
                name: 'Commonwealth Skate',
                description: '@camp.title Registration (@utils.Formatter.prettyDollars(camp.cost))',
                amount: @((camp.cost*100).intValue),
                currency: 'usd',
                bitcoin: true
              });
              e.preventDefault();
            });

            // Close Checkout on page navigation
            $(window).on('popstate', function() {
              handler.close();
            });
          </script>

				</form>
			}
		</div>
	</div>

	
</section>
}