@(camps: List[models.skatepark.Camp])

@main("home") {

<section id="blog">
    <h2>Camp Overview Page</h2>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>Camp</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Registration End Date</th>
            <th>Registrations</th>
            <th>Cost</th>
            <th>Schedule</th>
        </tr>
        </thead>
        <tbody>
        @for(camp <- camps) {
        <tr>
            <td><a href="@routes.Application.campDetail(camp.id)">@camp.title</a></td>
            <td>@camp.startDate.format("MM/dd/yyyy")</td>
            <td>@camp.endDate.format("MM/dd/yyyy")</td>
            <td>@camp.registrationEndDate.format("MM/dd/yyyy")</td>
            <td>@camp.registrations.size()/@camp.maxRegistrations</td>
            <td>@utils.Formatter.prettyDollars(camp.cost)</td>
            <td>@camp.scheduleDescription</td>
        </tr>
        }
        </tbody>
    </table>
</section>
}