@(camps: List[models.skatepark.Camp])

@main("camp", false, "Skateboard Camps | Commonwealth Skateboarding | Portland, Oregon") {

<section id="camp">
	<p class="h1">Skate Camps</p>
	<h2>Upcoming Camps</h2>
	
	<table id="camps" class="clickable table table-bordered table-striped table-condensed">
		<thead>
		<tr>
			<th>Session</th>
			<!-- <th>Begins</th>
			<th>Ends</th> -->
			<!-- <th>Registration Ends</th> -->
			<th>Spots Available</th>
			<th>Cost</th>
			<!-- <th>Schedule</th> -->
			<th class="instructors">Instructors</th>
		</tr>
		</thead>
		<tfoot>
			<tr>
				<td colspan="5">
					<p>Click on a session to see camp details &amp; sign up</p>
				</td>
			</tr>
		</tfoot>
		<tbody>
		@for(camp <- camps) {
		<tr>
			<td><a href="@routes.Application.campDetail(camp.id)">@camp.title</a></td>
			<!-- <td>@camp.startDate.format("M/dd")</td>
			<td>@camp.endDate.format("M/dd")</td> -->
			<!-- <td>@camp.registrationEndDate.format("MM/dd/yyyy")</td> -->
			<td>
				@if(0 >= (camp.maxRegistrations - camp.registrations.size())) {
					Sold out!
				} else {
					@(camp.maxRegistrations - camp.registrations.size()) left
				}
			</td>
			<td>@utils.Formatter.prettyDollars(camp.cost)</td>
		   <!--  <td>@camp.scheduleDescription</td> -->
		   <td class="instructors">@camp.instructors</td>
		</tr>
		}
		@if(camps.size == 0) {
			<tr>
				<td class="no-camps" colspan="5">No camps are scheduled at this time. Please check back later.</td>
			</tr>
		}
		</tbody>
	</table>

	<div class="grid">

		<div class="summer">
			<p class="h5">Summer Camps</p>
			<p>Our summer skateboard camps are the one of the funnest and fastest ways to get better at skateboarding and experience all of the best outdoor skate parks in the greater Portland area. Each day we warm up at Commonwealth for an hour before loading up in our camp van and heading out to 2 or 3 different skateparks each day.</p>

			<p>Camps run Monday through Thursday from 9:00AM to 4:00PM. <br/>
				Ages 6-14.</p>
			<p class="notice"><strong>A $100 non-refundable deposit is required to register each skater for a summer camp session.</strong></p>
		</div>

		<div class="winter">
			<p class="h5">Winter Camps</p>
			<p>School’s out! Our winter camps are week long camps during winter breaks in the school calendar designed to kill the boredom of hiding from the rain. Come skate Commonwealth, play video games, and visit some of the areas skate parks when there’s a break in the rain.</p>

			<p>Camps schedules will vary session to session. <br/>
				Ages 6-14.</p>
			<p class="notice"><strong>A $100 non-refundable deposit is required to register each skater for a winter camp session.</strong></p>
		</div>

		<div class="day">
			<p class="h5">Day Trips &amp; Lock-Ins</p>
			<p>We’re always scheduling van trips, lock-ins, and mini-camps throughout the year. Whether it’s a trip to Eugene on a rainy day, or an overnight lock-in of skateboarding, pizza, and candy &mdash; join us for some epic fun and endless skateboarding.</p>

			<p>Day trip and lock-in schedules will vary from event to event, as will their respective non-refundable deposit amounts.</p>
		</div>
	</div>
</section>
}