@(camps: List[models.skatepark.Camp])

@main("camp") {

<section id="camp">
    <h1>Skate Camps</h1>
    <h2>Upcoming Camps</h2>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>Camp</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Registration End Date</th>
            <th>Registrations</th>
            <th>Cost</th>
            <th>Schedule</th>
        </tr>
        </thead>
        <tbody>
        @for(camp <- camps) {
        <tr>
            <td><a href="@routes.Application.campDetail(camp.id)">@camp.title</a></td>
            <td>@camp.startDate.format("MM/dd/yyyy")</td>
            <td>@camp.endDate.format("MM/dd/yyyy")</td>
            <td>@camp.registrationEndDate.format("MM/dd/yyyy")</td>
            <td>@camp.registrations.size()/@camp.maxRegistrations</td>
            <td>@utils.Formatter.prettyDollars(camp.cost)</td>
            <td>@camp.scheduleDescription</td>
        </tr>
        }
        </tbody>
    </table>

    <div class="quad">

        <div class="summer">
            <p class="h6">Summer Camps</p>
            <p>Details about summer camp locations, activities. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean gravida quam ac nunc efficitur pulvinar. Pellentesque tristique at risus sed consectetur. Aliquam id magna ut tortor laoreet rhoncus. Morbi molestie varius quam, eu feugiat sapien sodales placerat. Proin eget eros rhoncus, pellentesque neque at, laoreet ipsum. Morbi in arcu justo. Morbi et viverra tortor, et faucibus felis. Maecenas sed ex augue. Nullam tortor ante, interdum sed aliquam a, vulputate a quam. Curabitur dapibus ullamcorper nibh quis finibus. Morbi et erat risus. Nullam interdum finibus tincidunt. Vivamus et cursus urna. In viverra nisi diam, faucibus mattis eros pellentesque non. Maecenas lacus tellus, iaculis eu iaculis quis, ornare ut sem.</p>

            <p>Vivamus vulputate a leo mattis volutpat. Donec sodales nunc ante, sed consectetur ex aliquet in. Cras et nunc justo. Nullam mattis eu leo quis molestie. Morbi aliquam maximus lacus, et auctor velit lacinia luctus. Etiam non nisi eget ligula tincidunt imperdiet. Quisque aliquam ipsum nunc, sed rutrum nisi iaculis dictum. Cras id placerat odio. Donec elementum lorem at tristique tristique.</p>
        </div>

        <div class="winter">
            <p class="h6">Winter Camps</p>
            <p>Details about winter camp locations, activities. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean gravida quam ac nunc efficitur pulvinar. Pellentesque tristique at risus sed consectetur. Aliquam id magna ut tortor laoreet rhoncus. Morbi molestie varius quam, eu feugiat sapien sodales placerat. Proin eget eros rhoncus, pellentesque neque at, laoreet ipsum. Morbi in arcu justo. Morbi et viverra tortor, et faucibus felis. Maecenas sed ex augue. Nullam tortor ante, interdum sed aliquam a, vulputate a quam. Curabitur dapibus ullamcorper nibh quis finibus. Morbi et erat risus. Nullam interdum finibus tincidunt. Vivamus et cursus urna. In viverra nisi diam, faucibus mattis eros pellentesque non. Maecenas lacus tellus, iaculis eu iaculis quis, ornare ut sem.</p>

            <p>Vivamus vulputate a leo mattis volutpat. Donec sodales nunc ante, sed consectetur ex aliquet in. Cras et nunc justo. Nullam mattis eu leo quis molestie. Morbi aliquam maximus lacus, et auctor velit lacinia luctus. Etiam non nisi eget ligula tincidunt imperdiet. Quisque aliquam ipsum nunc, sed rutrum nisi iaculis dictum. Cras id placerat odio. Donec elementum lorem at tristique tristique.</p>
        </div>

        <div class="day">
            <p class="h6">Day Camps</p>
            <p>Details about day camp locations, activities. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean gravida quam ac nunc efficitur pulvinar. Pellentesque tristique at risus sed consectetur. Aliquam id magna ut tortor laoreet rhoncus. Morbi molestie varius quam, eu feugiat sapien sodales placerat. Proin eget eros rhoncus, pellentesque neque at, laoreet ipsum. Morbi in arcu justo. Morbi et viverra tortor, et faucibus felis. Maecenas sed ex augue. Nullam tortor ante, interdum sed aliquam a, vulputate a quam. Curabitur dapibus ullamcorper nibh quis finibus. Morbi et erat risus. Nullam interdum finibus tincidunt. Vivamus et cursus urna. In viverra nisi diam, faucibus mattis eros pellentesque non. Maecenas lacus tellus, iaculis eu iaculis quis, ornare ut sem.</p>

            <p>Vivamus vulputate a leo mattis volutpat. Donec sodales nunc ante, sed consectetur ex aliquet in. Cras et nunc justo. Nullam mattis eu leo quis molestie. Morbi aliquam maximus lacus, et auctor velit lacinia luctus. Etiam non nisi eget ligula tincidunt imperdiet. Quisque aliquam ipsum nunc, sed rutrum nisi iaculis dictum. Cras id placerat odio. Donec elementum lorem at tristique tristique.</p>
        </div>
    </div>
</section>
}