
<section id="carousel">

    <div class="prev arrow"> &lt; </div>
    <div class="next arrow"> &gt; </div>

    <div class="intro slide">
        <div class="content">
            <div class="wrapper">
                <div class="centered">
                    <img src="@routes.Assets.at("img/cw--logo--extended.svg")" class="logo-oval">
                </div>
            </div>
        </div>
    </div> <!-- /slide -->

    <div class="default slide">
        <div class="content">
            <div class="wrapper">
                <p class="h1">Commonwealth Gear [h1]</p>
                <p class="h2">H2</p>
                <p class="h3">H3</p>
                <p class="h4">H4</p>
                <p class="h5">H5</p>
                <p>Paragraph</p>
            </div>
        </div>
    </div> <!-- /slide -->

    <div class="camp slide">
        <div class="content">
            <div class="wrapper">
                <p class="title">SPRING CAMP REGISTRATION</p>
                <p class="details">
                    <ul>
                        <li><span class="date">MM dd<sup>th</sup>-dd<sup>th</sup></span></li>
                        <li>Availability: 30 Spots</li>
                        <li>Ages: 8-15</li>
                        <li>Ability: Intermediate to Advanced</li>
                    </ul>
                </p>
                <a href="http://google.com"><button class="camp registration">Sign Up Today!</button></a>
            </div>
        </div>
    </div> <!-- /slide -->

</section>