
<section id="carousel">

    <div class="prev arrow"> &lt; </div>
    <div class="next arrow"> &gt; </div>

    <div class="intro slide">
        <div class="content">
            <div class="wrapper">
                <div class="centered">
                    <img src="@routes.Assets.at("img/cw--logo--extended.svg")" class="logo-oval">
                </div>
            </div>
        </div>
    </div> <!-- /slide -->


    <!-- <div class="store slide">
        <div class="content">
            <div class="wrapper">
                <p class="h5">NEW IN THE SHOP</p>
                <p class="h1">Commonwealth Gear</p>
                <a href="/shop" class="shop gold outline button">Shop Online</a>
            </div>
        </div>
    </div>  --><!-- /slide -->

    

</section>