
<section id="carousel">

    <div class="prev arrow"> &lt; </div>
    <div class="next arrow"> &gt; </div>

    <div class="intro slide">
        <div class="content">
            <div class="wrapper">
                <div class="centered">
                    <img src="@routes.Assets.at("img/cw--logo--extended.svg")">
                </div>
            </div>
        </div>
    </div> <!-- /slide -->

    <div class="default slide">
        <div class="content">
            <div class="wrapper">
                <p class="h3">News, Site</p>
                <p class="h1">Complete Site Overhaul</p>
                <p class="subhead">Like the door from the shop; watch your step.</p>
            </div>
        </div>
    </div> <!-- /slide -->

    <div class="sale slide">
        <div class="content">
            <div class="wrapper">
                <p class="outline">50% Off</p>
                <p class="detail">on select items</p>
            </div>
        </div>
    </div> <!-- /slide -->

    <div class="extra slide">
        <div class="content">
            <div class="wrapper">
                <p class="h3">News, Site</p>
                <p class="h1">Complete Site Overhaul</p>
                <p class="h2">Like the door from the shop; watch your step.</p>
            </div>
        </div>
    </div> <!-- /slide -->

</section>