@()

@main("contact") {
<section id="contact">
	<h1>Get in Touch</h1>
	<h2>Contact</h2>
	<table class="table table-bordered table-striped table-condensed">
		<tr>
			<td>
				<p class="h6">Map</p>
				<p>[Google Map]</p>
			</td>
			<td>
				<p class="h6">Address</p>
				<p>1425 SE 20th Ave., Portland, OR</p>
				<p class="h6">Phone</p>
				<p>(503) 208-2080</p>
				<p class="h6">Email</p>
				<p><a href="mailto:info&#64;commonwealthskateboarding.com">info&#64;commonwealthskateboarding.com</a></p>
			</td>
		</tr>
	</table>
</section>
}