@(event: models.skatepark.Event)

@main("event-detail") {

<section id="event-detail">
    <h2>Event Detail Page</h2>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>Event</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            @if(event.registrable) {
                <th>Registration End Date</th>
                <th>Registrations</th>
                <th>Cost</th>
            }
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>@event.name</td>
            <td>@event.startTime.format("MM/dd/yyyy")</td>
            <td>@event.startTime.format("hh:mm a")</td>
            <td>@event.endTime.format("hh:mm a")</td>
            @if(event.registrable) {
                <td>@if(null != event.registrationEndDate) { @event.registrationEndDate.format("MM/dd/yyyy") }</td>
                <td>@event.registrations.size()/@event.maxRegistrations</td>
                <td>@utils.Formatter.prettyDollars(event.cost)</td>
            }
        </tr>
        </tbody>
    </table>

    @if(event.registrable && (event.registrations.size() < event.maxRegistrations)) {
        <br><br>
        <h2>Register for this event now</h2>

        @******************************************
        * https://stripe.com/docs/tutorials/forms *
        ******************************************@

        <form action="@routes.Application.registerForEventWithStripe(event.id)" method="POST" id="payment-form">

            <script src="https://checkout.stripe.com/checkout.js"></script>

            <div class="form-row">
                <label>
                    <span>Participant Name:</span>
                    <input id="name" name="name" type="text">
                </label>
            </div>

            <button id="pay">Register and Pay</button>

            <script>
              var handler = StripeCheckout.configure({
                key: 'pk_test_oVTabrtQ9C1eKjFwt94n4xdt',
                image: '@routes.Assets.at("img/cw--logo--lettermark-black.png")',
                token: function(token) {
                    var $form = $('#payment-form');
                    // Insert the token into the form so it gets submitted to the server
                    $form.append($('<input type="hidden" name="stripeToken" />').val(token.id));
                    $form.append($('<input type="hidden" name="stripeEmail" />').val(token.email));
                    // and submit
                    $form.get(0).submit();
                }
              });

              $('#pay').on('click', function(e) {
                handler.open({
                  name: 'Commonwealth Skate',
                  description: '@event.name Registration (@utils.Formatter.prettyDollars(event.cost))',
                  amount: @((event.cost*100).intValue),
                  currency: 'usd',
                  bitcoin: true
                });
                e.preventDefault();
              });

              // Close Checkout on page navigation
              $(window).on('popstate', function() {
                handler.close();
              });
            </script>
        </form>
    }

    @if(event.registrable && (event.registrations.size() >= event.maxRegistrations)) {
        <p>This event is currently sold out.</p>
    }

    <br><br>
    <a href="@routes.Application.events()">All Events</a>
</section>
}