@(event: models.skatepark.Event, info: models.skatepark.RegistrationInfo)

@main("event-detail", false, event.name + " | Commonwealth Skateboarding | Portland, Oregon") {
<section id="event-detail">
  <p class="h1">&lt;&nbsp; <a href="@routes.Application.events()">Back to all events</a></p>
	<p class="h2">@event.name</p>

	<div class="grid no-margin">
		<div class="details">
			<p class="h4">Event Details</p>
			<ul>
				<li class="registration-end">
					<p class="h6">Date</p>
					<p>@event.startTime.format("MMMMM d")@utils.TimeUtil.getDayOfMonthSuffix(event.startTime.format("d")),
						@event.startTime.format("yyyy")</p>
				</li>
				<li class="registration-end">
					<p class="h6">Time</p>
					<p>@event.startTime.format("h:mma")-@event.endTime.format("h:mma")</p>
				</li>
				@if(event.registrable) {
					@if(null != event.registrationEndDate) {
					<li class="registration-end">
						<p class="h6">Registration Ends</p>
						<p>@event.registrationEndDate.format("M/d")</p>
					</li>
					}
					<li class="registrants">
						<p class="h6">Capacity</p>
						<p>@event.registrations.size()/@event.maxRegistrations</p>
					</li>
				}
				@if(null != event.cost) {
					<li class="cost">
						<p class="h6">Cost</p>
						<p>@utils.Formatter.prettyDollars(event.cost)</p>
                        <p><img src="@routes.Assets.at("img/credit-cards.png")" alt="Payment Methods"></p>
                        @if(controllers.Application.EVENT_DEPOSIT < event.cost){
                            <p class="notice"><strong>A @utils.Formatter.prettyDollars(controllers.Application.EVENT_DEPOSIT)
                            non-refundable deposit is required for each participant.</strong></p>
                        }
                    </li>
				} else {
					<li class="cost">
						<p class="h6">Cost</p>
						<p>Free</p>
					</li>
				}
			</ul>
		</div>

<!--
	<table class="table table-bordered table-striped table-condensed">
		<thead>
		<tr>
			<th>Event</th>
			<th>Date</th>
			<th>Starts</th>
			<th>Ends</th>
			@if(event.registrable) {
				<th>Registration Ends</th>
				<th>Capacity</th>
				<th>Cost</th>
			}
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>@event.name</td>
			<td>@event.startTime.format("MM/dd/yyyy")</td>
			<td>@event.startTime.format("hh:mm a")</td>
			<td>@event.endTime.format("hh:mm a")</td>
			@if(event.registrable) {
				<td>@if(null != event.registrationEndDate) { @event.registrationEndDate.format("MM/dd/yyyy") }</td>
				<td>@event.registrations.size()/@event.maxRegistrations</td>
				<td>@utils.Formatter.prettyDollars(event.cost)</td>
			}
		</tr>
		</tbody>
	</table> -->


	<div class="sign-up">
        @if(null!=info) {
            <p class="h4">Sorry, but there was a problem with your card</p>
            <p>Your payment could not be processed. Try again or use another card, and if this problem persists, please <a href="/contact">contact us</a>.</p>
        }
		<p class="h4">Description</p>
		<p>@Html(event.notes)</p>
	@if(event.registrable && (null != event.cost) && (event.registrations.size() < event.maxRegistrations) && !event.isPastRegistrationEndDate()) {
		<p class="h4">Register</p>

		@******************************************
		* https://stripe.com/docs/tutorials/forms *
		******************************************@

		<form action="@routes.Application.registerForEventWithStripe(event.id)" method="POST" id="payment-form">

			<script src="https://checkout.stripe.com/checkout.js"></script>

			<div class="form-row">
				<label>
					<span class="h6">Participant Name</span>
					<input id="p_name" name="name" type="text" placeholder="" @if(null!=info){value="@info.name"} required autofocus>
				</label>
			</div>

			<div class="form-row">
				<label>
					<span class="h6">Billing Name</span>
					<input id="b_name" name="billingName" type="text" placeholder="" @if(null!=info){value="@info.billingName"} required>
				</label>
			</div>

			<div class="form-row">
				<label>
					<span class="h6">Billing Email</span>
					<input id="email" name="email" type="email" placeholder="name&#064;domain.com" @if(null!=info){value="@info.email"} required>
				</label>
			</div>

			<div class="form-row">
				<label>
					<span class="h6">Phone Number</span>
					<input id="tel" name="telephone" type="tel" placeholder="(555) 555-5555" @if(null!=info){value="@info.telephone"}>
				</label>
			</div>

			<!--

			<div class="form-row flex">
				<label class="card">
					<span class="h6">Card Number</span>
					<input id="card" type="text" pattern="[0-9]{13,16}" size="20" data-stripe="number" placeholder="#" required>
				</label>

				<label class="cvc">
					<span class="h6">CVC</span>
					<input id="cvc" type="text" size="4" data-stripe="cvc" placeholder="#" required>
				</label>

				<label class="expiration">
					<span class="h6">Expiration (MM/YYYY)</span>
					<input id="exp-month" type="text" size="2" data-stripe="exp-month" placeholder="MM" required>

					<span> / </span>

					<input id="exp-year" type="text" pattern="[0-9]{4}" size="4" data-stripe="exp-year" placeholder="YYYY" required>
				</label>
			</div>

			-->
			<div class="form-row">
				<p class="h6">Choose Payment Amount</p>
				<radiogroup>
					<input type="radio" name="fullyPaid" id="full-price" @if(null!=info && (info.fullyPaid != true)){} else { checked } value="true"><label for="full-price"> <i class="fas fa-check"></i> <strong>Full</strong>&nbsp;(@utils.Formatter.prettyDollars(event.cost))</label>
					@if(event.cost>controllers.Application.EVENT_DEPOSIT) {
						<input type="radio" name="fullyPaid" id="deposit" @if(null!=info && (info.fullyPaid != true)){ checked } else {} value="false"><label for="deposit"> <i class="fas fa-check"></i> <strong>Deposit</strong>&nbsp;(@utils.Formatter.prettyDollars(controllers.Application.EVENT_DEPOSIT))</label>
					}
				</radiogroup>
			</div>
			<footer>
        <label for="agreement" class="agreement">
          <input type="checkbox" id="agreement">
          <span>I agree to the <a href="#" id="terms-link">terms and conditions</a>.<span class="required">*</span></span>
        </label>
        <div class="submit">
          <button type="submit" id="pay">Sign Up</button>
        </div>
      </footer>
		</div>
			<script>

      var tos_checkbox = $('#agreement');
			var tos_label = $('label.agreement');
			var pay_btn = $('#pay');

			$(pay_btn).addClass('disabled').prop("disabled", true);

			$(tos_checkbox).change(function() {
				if(this.checked) {
					$(tos_label).addClass('checked');
					$(pay_btn).removeClass('disabled').prop("disabled", false);
				} else {
					$(tos_label).removeClass('checked');
					$(pay_btn).addClass('disabled').prop("disabled", true);
				}
			});
      
			var handler = StripeCheckout.configure({
			  key: '@controllers.Stripe.STRIPE_PUBLIC_KEY',
			  image: 'https://s3.amazonaws.com/stripe-uploads/acct_154QX0FIzru1QGQUmerchant-icon-1421729277975-cw--logo--lettermark-black.png',
			  token: function(token) {
				  var $form = $('#payment-form');
				  // Insert the token into the form so it gets submitted to the server
				  $form.append($('<input type="hidden" name="stripeToken" />').val(token.id));
				  // and submit
				  $form.get(0).submit();
			  }
			});

			$('#pay').on('click', function(e) {
			  $('#payment-form').validate();
			  if($('#payment-form').valid()) {
				  if($('#full-price').is(':checked')) {
					  handler.open({
						name: 'Commonwealth Skate',
						description: '@event.name Registration (@utils.Formatter.prettyDollars(event.cost))',
						amount: @((event.cost*100).intValue),
						email: $('#email').val(),
						currency: 'usd',
						bitcoin: true
					  });
				  } else {
					handler.open({
					  name: 'Commonwealth Skate',
					  description: '@event.name Deposit (@utils.Formatter.prettyDollars(controllers.Application.EVENT_DEPOSIT))',
					  amount: @(controllers.Application.EVENT_DEPOSIT * 100),
					  email: $('#email').val(),
					  currency: 'usd',
					  bitcoin: true
					});
				  }
			  }
			  e.preventDefault();
			});

			// Close Checkout on page navigation
			$(window).on('popstate', function() {
			  handler.close();
			});
		</script>

		</form>
	}

	@if(event.registrable && (null != event.cost) && (event.registrations.size() >= event.maxRegistrations)) {
		<p>Sorry! This event is currently sold out.</p>
	}
</section>
}
