@(events: List[models.skatepark.Event])

@main() {

<section id="blog">
    <h2>Events Overview Page</h2>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Event</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Registration End Date</th>
                <th>Registrations</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
        @for(event <- events) {
        <tr>
            <td><a href="@routes.Application.eventDetail(event.id)">@event.name</a></td>
            <td>@event.startTime.format("MM/dd/yyyy")</td>
            <td>@event.startTime.format("hh:mm a")</td>
            <td>@event.endTime.format("hh:mm a")</td>
            @if(event.registrable) {
                <td>@if(null != event.registrationEndDate) { @event.registrationEndDate.format("MM/dd/yyyy") }</td>
                <td>@event.registrations.size()/@event.maxRegistrations</td>
                <td>@utils.Formatter.prettyDollars(event.cost)</td>
            } else {
                <td colspan="3">Pre-registration is not available.</td>
            }
        </tr>
        }
        </tbody>
    </table>
</section>
}