
<!-- Begin Repuso widget code -->
<div data-repuso-grid="2270"></div>
<script type="text/javascript" src="https://repuso.com/widgets/grid.js" async></script>
<!-- End Repuso widget code -->

<footer>
	<div class="sponsors">
		<p class="h6">Partners in Crime</p>
		<div class="logos">
			<ul class="gold">
				<li>
					<a href="http://www.unheardpdx.com/" target="_blank"><img src="@routes.Assets.at("img/sponsors/unheard.svg")" alt="Unheard Distribution"></a>
				</li>
				<li>
					<a href="http://lifebloodskateboards.com/" target="_blank"><img src="@routes.Assets.at("img/sponsors/lifeblood.svg")" alt="Lifeblood Skateboards"></a>
				</li>
			</ul>
			<!-- <ul class="silver">
				<li>Sponsor</li>
				<li>Sponsor</li>
				<li>Sponsor</li>
				<li>Sponsor</li>
			</ul> -->
		</div>
	</div>

	<div class="info">
		<div class="contact">
			<div class="address">
				<span><a href="https://www.google.com/maps/place/1425+SE+20th+Ave,+Portland,+OR+97214/" target="_blank"><i class="fa fa-map-marker"></i></a> 1425 SE 20<sup>th</sup> <wbr>Portland,&nbsp;OR</span>
			</div>

			<ul class="social">
				<li data-name="Instagram">
					<a href="http://instagram.com/commonwealthskate" title="Instagram">
						<i class="fa fa-instagram"></i>
					</a>
				</li>
				<li data-name="Facebook">
					<a href="https://www.facebook.com/pages/Commonwealth-Skateboarding/193644940661093" title="Facebook">
						<i class="fa fa-facebook-official"></i>
					</a>
				</li>
				<li data-name="Twitter">
					<a href="https://twitter.com/commonwealthsk8">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				<!-- <li data-name="Reddit">
					<a href="https://www.reddit.com/r/commonwealthpdx" title="Subreddit">
						<i class="fa fa-reddit"></i>
					</a>
				</li> -->
				<!-- <li data-name="Vine">
					<a href="https://vine.co/u/932449579813724160">
						<i class="fa fa-vine"></i>
					</a>
				</li> -->
				<!-- <li data-name="YouTube">
					<a href="https://www.youtube.com/user/commonwealthskate">
						<i class="fa fa-youtube"></i>
					</a>
				</li> -->
				<!-- <li data-name="Google+">
					<a href="https://plus.google.com/110130398862580513394">
						<i class="fa fa-google-plus"></i>
					</a>
				</li> -->
			</ul>
		</div>

		<nav>
			<ul>
				<li><span class="h5">Shop</span>
					<ul>
						<li><a href="/shop">Apparel</a></li>
						<li><a href="/shop">Decks</a></li>
						<li><a href="/shop">Passes</a></li>
						<!-- <li><a href="/shop">Lessons</a></li> -->
						<!-- <li><a href="/shop">Gift Certificates</a></li> -->
					</ul>
				</li>
				<li><span class="h5">Camps</span>
					<ul>
						<li> <a href="/camp#overview">Overview</a> </li>
						<li> <a href="/camp#summer">Summer Camps</a> </li>
						<li> <a href="/camp#winter">Winter Camps</a> </li>
						<li> <a href="/camp#day">Day Trips &amp; <br>Lock-Ins</a> </li>
					</ul>
				</li>
				<li><span class="h5">Events</span>
					<ul>
						<li><a href="/events#lessons">Lessons</a></li>
						<li><a href="/events#birthdays">Birthdays</a></li>
						<li><a href="/events#park-rental">Park Rental</a></li>
					</ul>
				</li>
				<li><span class="h5">Sessions</span>
					<ul>
						<li><a href="/sessions#general">General Sessions</a></li>
						<li><a href="/sessions#kids">Kids Only</a></li>
						<li><a href="/sessions#slag">Skate Like a Girl Clinics</a></li>
						<li><a href="/sessions#olds">Olds Nights</a></li>
						<li><a href="/sessions#ladies">Ladies Night</a></li>
						<li><a href="/sessions#fnr">Friday Night Riot</a></li>
					</ul>
				</li>
				<li><span class="h5">The Park</span>
					<ul>
						<li><a href="/about">About</a></li>
						<li><a href="/blog">Blog</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</li>
			</ul>
			<div class="copyright"><span>&copy;</span> Commonwealth Skateboarding 2016</div>
		</nav>
			
	</div>
</footer>