<header id="main">

<!-- Mobile -->
	<nav class="mobile">
		<div class="menu">
			<div class="circle">
				<div class="wrapper">
					<i class="fa fa-list"></i>&nbsp;<span class="h6">Menu</span>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li>
				<a href="/">
					Home
					<!-- <img src="@routes.Assets.at("img/cw--logo--lettermark-white.svg")" alt="Commonwealth Skateboarding"> -->
				</a>
			</li>
			<li><a href="/shop">Shop</a></li>
			<li><a href="/camp">Camps</a></li>
			<li><a href="/events">Events</a></li>
			<li><a href="/sessions">Sessions</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
            <li><a href="/profile">My Profile</a></li>
		</ul>
	</nav>

	<div class="logo--extended">
		<img src="@routes.Assets.at("img/cw--logo--extended.svg")" alt="Commonwealth Skateboarding">
	</div>
	<!-- /Mobile -->

	<div class="logo">
			<a href="/">
		<span class="front">
			<img src="@routes.Assets.at("img/cw--logo--lettermark-white.svg")" alt="Commonwealth Skateboarding">
		</span>
					<!-- IGNORE: Extra element for 3D anim -->
					<!-- <span class="bottom">
						<img src="@routes.Assets.at("/img/cw--logo--lettermark-white.svg")">
					</span> -->
			</a>
	</div> <!-- /logo -->

	<nav>
		<ul class="links">
			<li> <a href="/shop">Shop</a> </li>
			<li> <a href="/camp">Camps</a>
				<ul class="subnav">
					<li> <a href="/camp#overview">Overview</a> </li>
					<li> <a href="/camp#summer">Summer Camps</a> </li>
					<li> <a href="/camp#winter">Winter Camps</a> </li>
					<li> <a href="/camp#day">Day Trips &amp; Lock-Ins</a> </li>
				</ul>
			</li>
			<li> <a href="/events">Events</a> 
				<ul class="subnav">
					<li><a href="/events#lessons">Lessons</a></li>
					<li><a href="/events#birthdays">Birthdays</a></li>
					<li><a href="/events#park-rental">Park Rental</a></li>
				</ul>
			</li>
			<li> <a href="/sessions">Sessions</a>
				<ul class="subnav">
					<li><a href="/sessions#general">General Sessions</a></li>
					<li><a href="/sessions#kids">Kids Only</a></li>
					<li><a href="/sessions#slag">Skate Like a Girl Clinics</a></li>
					<li><a href="/sessions#olds">Olds Nights</a></li>
					<li><a href="/sessions#ladies">Ladies Night</a></li>
					<li><a href="/sessions#fnr">Friday Night Riot</a></li>
				</ul>
			</li>
			<li> <a href="/blog">Blog</a> </li>
			<li> <a href="/about">About</a> </li>
			<li> <a href="/contact">Contact</a> </li>
            <li> <a href="/profile">My Profile</a> </li>
		</ul>
	</nav> <!-- /nav -->

</header> <!-- /header.main -->