@(news: List[models.site.NewsItem], closures: List[models.site.ClosureNotice], page: Long, hasNextPage: Boolean)

@main("home", true, "Commonwealth Skateboarding | Portland, OR | Skatepark & Shop", closures) {

<section id="blog">

    @for(item <- news) {
        <article class="post-preview">
            <header>
                 <div class="meta">
                    <div class="date">
                        <time>@item.createDate.format("MMMM dd, yyyy")</time>
                    </div>
                </div>

                <p class="h5"><a href="@routes.Application.showNews(item.id)" class="more">@item.title</a></p>
            </header>
            <main>
                @Html(item.content)
            </main>
            <footer>
                @if(item.extendedContent) {
                    <a href="@routes.Application.showNews(item.id)" class="more">Read More</a>
                }
            </footer>
        </article>
    }

    @if(page >= 1) {
    <a href="@routes.Application.index(page-1)">Previous Page</a>
    }
    @if(hasNextPage) {
        <a href="@routes.Application.index(page+1)">Next Page</a>
    }
</section> <!-- /#blog -->

@sidebar()

}