@(news: List[models.site.NewsItem], page: Long, hasNextPage: Boolean)

@main("home", true) {

<section id="blog">
    @for(item <- news) {
        <article>
            <header>
                @if(item.extendedContent) {
                <h1><a href="@routes.Application.showNews(item.id)" class="more">@item.title</a></h1>
                } else {
                    <h1>@item.title</h1>
                }
                <div class="meta">
                    <div class="date">
                        <time>@item.createDate.format("MMMM dd, yyyy")</time>
                    </div>
                    <div class="tags">
                        <a href="#">News</a> / <a href="#">Site</a>
                    </div>
                </div>
            </header>
            <main>
                @Html(item.content)
            </main>
            <footer>
                @if(item.extendedContent) {
                    <a href="@routes.Application.showNews(item.id)" class="more">Read More</a>
                }
            </footer>
        </article>
    }

    @if(page >= 1) {
    <a href="@routes.Application.index(page-1)">Previous Page</a>
    }
    @if(hasNextPage) {
        <a href="@routes.Application.index(page+1)">Next Page</a>
    }
</section> <!-- /#blog -->

}
