@import com.feth.play.module.pa.views.html._

@main() {

<section id="blog">
    <article>
        <header>
            <h1>Session Management</h1>
        </header>
        <main>
            @currentAuth() { auth =>
                @if(auth != null) {
                    <a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout">Logout</a>
                }
            }
            Login:
            @forProviders() { p =>
                <a href="@p.getUrl()">With @p.getKey()</a>
            }
        </main>
        <footer>
            <a href="/">Back to the main site</a>
        </footer>
    </article>
</section> <!-- /#blog -->
}