@(news: models.site.NewsItem)

@main("blog-entry", false, news.title + " | Commonwealth Skateboarding | Portland, Oregon") {

<section id="blog-entry">
    <article>
        <header>
            <h1>@news.title</h1>
            <div class="meta">
                <div class="date">
                    <time>@news.createDate.format("MMMM dd, yyyy")</time>
                </div>
                <div class="tags">
                    <a href="#">News</a> / <a href="#">Site</a>
                </div>
            </div>
        </header>
        <main>
            @Html(news.content)
            <br><br>
            @Html(news.extendedContent)
        </main>
        <footer>
            <a href="/">Back to the main site</a>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="@play.Play.application().configuration().getString("application.baseUrl")@routes.Application.showNews(news.id)" data-text="@news.title" data-via="CommonwealthSk8">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </footer>
    </article>
</section> <!-- /#blog -->

}
