@(news: models.site.NewsItem)

@main("blog-entry", false, news.title + " | Commonwealth Skateboarding | Portland, Oregon") {

<section id="blog-entry">
    <article>
        <header>
             <div class="meta">
                <div class="date">
                    <time>@news.createDate.format("MMMM dd, yyyy")</time>
                </div>
            </div>
            <p class="h5">@news.title</p>
        </header>
        <main>
            @Html(news.content)
            <br><br>
            @Html(news.extendedContent)
        </main>
        <footer>
            <div class="backtrack">
                <p>&lt;&nbsp; <a href="/">Back to Homepage</a></p>
            </div>
        </footer>
    </article>
</section> <!-- /#blog -->

}
