@import com.feth.play.module.pa.views.html._
@import models.skatepark.OnlinePassSale
@(user: models.security.User = null)
@main("profile", false, "My Profile | Commonwealth Skateboarding | Portland, Oregon") {
<section id="profile">
    <h1>Check Your Account</h1>
    @if(user == null) {
        @* This condition occurs when not currently logged in *@
        <div class="sign-in">
            <h3>my profile</h3>


            <div class="grid">
                <div class="auth">
                    <p class="h5">Login</p>

                    <div class="buttons">
                        <!-- <a href="/authenticate/facebook" class="fb btn"><span class="icon"><i class="fa fa-facebook"></i></span>Facebook</a>

                        <a href="/authenticate/google" class="goog btn"><span class="icon"><i class="fa fa-google"></i></span>Google</a> -->

                        <a href="#" class="fb btn" id="modal_1"><span class="icon"><i class="fa fa-facebook"></i></span>Facebook</a>

                        <a href="#" class="goog btn" id="modal_2"><span class="icon"><i class="fa fa-google"></i></span>Google</a>
                    </div>

                    <p class="center"><strong>New Users:</strong> Choose the service you use most.</p>
                </div>

                <div class="faq">
                    <p class="h5">FAQ</p>

                    <p class="small highlight"><span>What are user accounts?</span></p>
                    <p>User accounts allow skaters (and parents or guardians) to
                        <ul class="list">
                            <li>sign digital waivers</li>
                            <li>easily purchase passes and gift certificates</li>
                            <li>add in-store credit</li>
                            <li>view active/unused passes</li>
                            <li>review pass payment history</li>
                            <li>leave us feedback</li>
                        </ul>
                    </p>

                    <p class="small highlight" id="faq_new_user"><span>Am I a new user even if I've already signed a waiver at Commonwealth?</span></p>
                    <p>Yes! If you haven't created a profile on this site, you are considered a "new user". You will be able to connect this account to the one we have for you in the park's membership database using your <a href="#faq_skater_id">ID number</a>.

                    <p class="small highlight" id="faq_skater_id"><span>What is a Skater ID and how do I get one?</span></p>
                    <p>Your Skater ID is a number associated with your account at Commonwealth. It can be used to check-in at the park and can be associated with <a href="#faq_guardian_account">Guardian Accounts</a>. If you don't have one yet, you can obtain it in-person at the shop.</p>

                    <p class="small highlight" id="faq_guardian_account"><span>What can a Guardian account do?</span></p>
                    <p>This account type allows legal guardians to have administrative access over their skater's account. Guardian accounts can be affiliated with multiple skaters, and allows for quickly adding passes or in-shop credit to their accounts and looking at purchase and check-in history*.</p>

                    <p>*This information does not include specifics like when they might have left and come back, or how long they stayed. It simply allows you to see when they first checked-in.</p>
                </div>
            </div>
        </div>
    } else {
        @* This condition occurs when currently logged in *@
        <div class="user-profile">
            <p class="h1">Profile</p>
            <h3>Welcome, @user.name</h3>

            @if((null == user.membership) && (0 == user.guardianOf.size)) {
                <!-- Message for unlinked users (no membership) -->
                <p><a href="@routes.Application.memberSales()">Purchase passes online</a> and we'll link your account so you can add passes anytime.</p>
            }

        @* Memberships *@

            <h1>My Memberships</h1>
            @if(null != user.membership) {
                <p><a href="@routes.Application.memberSales(true)">Purchase passes online</a></p>
                <p>
                    <h3>My Account:</h3>
                    @* Gift certificate balance: @utils.Formatter.prettyDollars(user.membership.credit)<br/> *@
                    @for(pass<-user.membership.getUnlimitedPassesForDisplay()) {
                        Unlimited pass: @pass.starts.format("MM/dd/yyyy") - @pass.expires.format("MM/dd/yyyy") @if(!pass.isValid()) { (expired) }<br/>
                    }
                    Saved passes: @user.membership.sessionPasses session, @user.membership.allDayPasses all-day<br/>
                    Last visited:
                    @if(null != user.membership.lastVisit) {
                        @user.membership.lastVisit.time.format("EEEE, M/dd/yyyy")
                    } else {
                        <i>Never</i>
                    }
                </p>
            }
            @if(user.guardianOf.size > 0) {
                <h3>My Skaters</h3>
                <p><a href="@routes.Application.memberSales(false)">Purchase passes online for my skaters</a></p>
                @for(kid<-user.guardianOf) {
                    <p>
                        <h3>@kid.name</h3><br/>
                        @* Gift certificate balance: @utils.Formatter.prettyDollars(kid.credit)<br/>*@
                        @for(pass<-kid.getUnlimitedPassesForDisplay()) {
                            Unlimited pass: @pass.starts.format("MM/dd/yyyy") - @pass.expires.format("MM/dd/yyyy") @if(!pass.isValid()) { (expired) }<br/>
                        }
                        Saved passes: @kid.sessionPasses session, @kid.allDayPasses all-day<br/>
                        Last visited:
                        @if(null != kid.lastVisit) {
                            @kid.lastVisit.time.format("EEEE, M/dd/yyyy")
                        } else {
                            <i>Never</i>
                        }
                    </p>
                }
            }

            @* Recent purchases section *@

            <h1>Recent purchases</h1>
            @if(user.passSales.size == 0) {
                <p>No purchases have been made by your account.</p>
            }
            @for(sale<-user.passSales.reverse) {
                <p>
                @sale.created.format("EEEE, M/dd/yyyy")<br>
                @if(sale.twoHourPasses>0) {
                    @sale.twoHourPasses x Session Passes (@utils.Formatter.prettyDollarsAndCents(sale.twoHourPasses*OnlinePassSale.PRICE_TWO_HOUR_PASS))<br>
                }
                @if(sale.tenPackPasses>0) {
                    @sale.tenPackPasses x Ten-Pack Passes (@utils.Formatter.prettyDollarsAndCents(sale.tenPackPasses*OnlinePassSale.PRICE_TEN_PACK_PASS))<br>
                }
                @if(sale.unlimitedPassMonths>0) {
                    @sale.unlimitedPassMonths x Months of Unlimited Pass (@utils.Formatter.prettyDollarsAndCents(sale.unlimitedPassMonths*OnlinePassSale.PRICE_UNLIMITED_PASS_PER_MONTH))<br>
                }
                @if(sale.giftCreditDollars>0) {
                    @utils.Formatter.prettyDollarsAndCents(sale.giftCreditDollars) gift certificate<br>
                }
                Total: @utils.Formatter.prettyDollarsAndCents(sale.amount)
                @if(null != sale.appliedTo) {
                    Applied to @sale.appliedTo.name's membership
                }
                </p>
            }
            <br/><br/>
            <a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout">Logout</a>
        </div>
    }
</section>

}
