@()

@main("sessions", false, "Skate Sessions | Commonwealth Skateboarding | Portland, Oregon") {

  <section id="sessions">
    <p class="h1">Get rad, stay rad</p>
    <h2>Sessions</h2>

    <div class="masonry">

      <div class="general">
        <p id="general" class="h5">General Sessions</p>
        <div class="details">
          <p class="highlight"><span class="handwriting">Everyday</span></p>
          <p class="highlight"><span class="handwriting">2PM&ndash;8PM</span></p>
          <p class="highlight"><span class="handwriting">$9 for 2 hours</span></p>
          <p class="highlight"><span class="handwriting">$12 all day</span></p>
        </div>
        <p>Our general sessions are free skates open to anyone of any age or ability. <strong>Everyone who skates must sign a waiver, and skaters under 18 must have theirs signed by a legal guardian.</strong> Minors are also required to wear helmets.</p>

        <p>Any and all gear necessary is available to purchase in the shop.</p>
      </div>

      <div class="olds">
       <p id="olds" class="h5">Olds Nights</p>
       <div class="details">
         <p class="highlight"><span class="handwriting">Mondays &amp; Wednesdays</span></p>
         <p class="highlight"><span class="handwriting">8PM&ndash;10PM</span></p>
       </div>
       <p>Every Monday and Wednesday night from 8PM&ndash;10PM, Commonwealth hosts a 21+ session for the <s>older</s> <strong>seasoned</strong> shredders. The shop also remains open to the public until 10PM.</p>
     </div>

     <div class="ladies">
       <p id="ladies" class="h5">Ladies' Night</p>
       <div class="details">
         <p class="highlight"><span class="handwriting">Last Friday (each month)</span></p>
         <p class="highlight"><span class="handwriting">6PM&ndash;8PM</span></p>
       </div>
       <p>Hosted by <a href="http://www.skatelikeagirlpdx.com/" target="_blank">Skate Like a Girl PDX</a>.</p>
     </div>

     <div class="fnr">
       <p id="fnr" class="h5">Friday Night Riot</p>
       <div class="details">
         <p class="highlight"><span class="handwriting">Fridays</span></p>
         <p class="highlight"><span class="handwriting">8PM&ndash;10PM</span></p>
       </div>
       <p>Late-night general session every Friday until 10PM. The shop is also open until 10PM.</p>
     </div>

     <div class="kids">
       <p id="kids" class="h5">Just Kids</p>
       <div class="details">
         <p class="highlight"><span class="handwriting">Saturdays</span></p>
         <p class="highlight"><span class="handwriting">10AM&ndash;12PM</span></p>
         <p class="highlight"><span class="handwriting">$7</span></p>
       </div>
       <p>Our kids-only sessions are for anyone 14 and under. They take place each Saturday morning from 10AM&ndash;12:00PM. This is a good opportunity for younger kids and novices to skate Commonwealth without feeling intimidated by some of the older or more advanced skaters.</p>

       <p><strong>Parents or legal guardians must be present to sign a waiver for all first-time skaters</strong>, but you are not obligated to stick around.</p>

       <p><strong>Helmets are mandatory</strong> and available for purchase in the shop, along with any other gear you might need.</p>
     </div>

      <div class="slag">
        <p id="slag" class="h5">Skate Like a Girl Sunday Clinics</p>
        <div class="details">
          <p class="highlight"><span class="handwriting">Sundays*</span></p>
          <p class="highlight"><span class="handwriting">9:30AM&ndash;1PM</span></p>
          <p class="highlight"><span class="handwriting">Free**</span></p>
        </div>
        <p>Commonwealth works closely with <a href="http://www.skatelikeagirlpdx.com/" target="_blank">Skate Like A Girl PDX</a>, a non-profit dedicated to teaching women and young girls how to skate while providing a fun &amp; comfortable environment to earn those first bruises.</p>

        <p><strong>*On the first and second Sunday of each month</strong>, Skate Like A Girl conducts skate clinics at Commonwealth. They come in three varieties:</p>

        <ul>
          <li><strong>Beginners Ages 7 &amp; Under</strong> (9:30AM&ndash;11AM)</li>
          <li><strong>Beginners Ages 7 &amp; Up</strong> (11:30AM&ndash;1PM)</li>
          <li><strong>Intermediate Youth &amp; All-Levels Adults</strong> (10:30AM&ndash;12PM)</li>
        </ul>

        <p><strong>**Registration is free</strong>, but a $10 donation is suggested and goes directly back into the program. Please refer to their <a href="http://www.skatelikeagirlpdx.com/#!clinics/c13y0" target="_blank">Sunday Clinics</a> page to see when the next scheduled / available sessions are.</p>
      </div>

  </section>

}
