@()

@main("sessions") {

	<section id="about">
		<p class="h1"></p>
		<h2>Sessions</h2>

		<div class="grid">

	    <div class="slag">
	      <p id="slag" class="h6">Skate Like a Girl</p>
	      <p>Commonwealth works closely with Skate Like A Girl PDX, a non-profit dedicated to teaching women and young girls how to skate and provide a fun, comfortable environment to earn those first skateboard bruises. Skate Like A Girl conducts regular skate clinics at Commonwealth on the first and second Sunday of each month from 9:30 AM - 1:00 PM, as well as occasional ladies-only skate sessions, outdoor events and camps.</p>

				<p>Skate Like A Girl handles their own clinic registrations and all proceeds benefit their non-profit. Information and Registration can be found on <a href="http://www.skatelikeagirlpdx.com/#!clinics/c13y0" target="_blank">their Skate Clinics page</a>.</p>
	    </div>

	     <div class="kids">
	      <p id="slag" class="h6">Kids Only</p>
	      <p>Commonwealth has a kids-only session for children 14 and under on Saturday mornings from 10AM - 12:00 PM. This is a good opportunity for younger novice kids to skate Commonwealth without feeling intimidated by some of the older skaters.</p>
	    </div>

			 <div class="oldman">
	      <p id="slag" class="h6">Old Man Nights</p>
	      <p>Every Monday and Wednesday nights from 8PM - 10PM, Commonwealth hosts a 21+ session for the older shredders. And of course ladies are always welcome!</p>
	    </div>

  </section>

}