@()

@main() {

<section id="blog">
    <a href="https://squareup.com/market/commonwealth-skateboarding/commonwealth-shark-deck" class="sq-embed-item"> on Square Market</a>
    <a href="https://squareup.com/market/commonwealth-skateboarding/commonwealth-t-shirt" class="sq-embed-item"> on Square Market</a>
    <a href="https://squareup.com/market/commonwealth-skateboarding/pdx-shreds-t-shirt" class="sq-embed-item"> on Square Market</a>
    <script src="https://cdn.sq-api.com/market/embed.js" charset="utf-8"></script>
</section>
}