@()

@main("shop", false, "Online Store | Commonwealth Skateboarding | Portland, Oregon") {

<section id="shop">
	<p class="h1">Commonwealth Gear</p>
	<h2>Shop</h2>

	<div class="grid">

		<div class="features">
			<p class="h5">Skateboards, Apparel, Etc.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<figure>
				<img src="@routes.Assets.at("img/shop/board_walls.png")" alt="Boards and Apparel">
				<figcaption>BRAND, BRAND, BRAND, BRAND</figcaption>
			</figure>
		</div>

		<div class="features">
			<p class="h5">Footwear</p>
			<figure>
				<img src="@routes.Assets.at("img/shop/sneaker_wall1.png")" alt="Shoes.">
				<figcaption>BRAND, BRAND, BRAND, BRAND</figcaption>
			</figure>
			<p>Commonwealth stocks a variety of footwear styles in sizes 1-10. More text!</p>
		</div>
	</div>

	<h2>Items for Sale Online</h2>

	<ul class="items">
		<li class="item">
			<p><a href="https://www.stickermule.com/marketplace/10533-bernie-shreds"><img alt="bernie sanders skateboarding sticker" src="http://i.imgur.com/XZBYake.jpg" /></a></p>
			<p>Bernie&#39;s Shreds stickers are now <a href="https://www.stickermule.com/marketplace/10533-bernie-shreds">available for purchase online via Stickermule</a>! They&#39;re five bucks for a single, $18.00 for a five pack... Yeah, kinda pricey, but we only get $0.99 per sale. They're also available in the shop.</p>
		</li>

		<li class="item">
			<a href="https://squareup.com/market/commonwealth-skateboarding/commonwealth-shark-deck" class="sq-embed-item"> on Square Market</a>
		</li>

		<li class="item">
            <a href="https://squareup.com/market/commonwealth-skateboarding/foot-wings-t-shirt" class="sq-embed-item"> on Square Market</a>
        </li>

		<!--<li class="item">
                <a href="https://squareup.com/market/commonwealth-skateboarding/commonwealth-t-shirt" class="sq-embed-item"> on Square Market</a>
        </li>-->
	</div>
    
    <script src="https://cdn.sq-api.com/market/embed.js" charset="utf-8"></script>
</section>
}