@()

@main("shop") {

<section id="shop">
    <a href='https://mkt.com/commonwealth-skateboarding' class='sq-embed-menu' data-menu-item-images='large' data-menu-accent-color='858585' data-menu-template='column' data-menu-border='hide' data-menu-item-descriptions='hide'>Order Online</a>
    <script src="https://cdn.sq-api.com/market/embed.js" charset="utf-8"></script>
    
    <!-- <a href="https://squareup.com/market/commonwealth-skateboarding/commonwealth-shark-deck" class="sq-embed-item"> on Square Market</a>
    <a href="https://squareup.com/market/commonwealth-skateboarding/foot-wings-t-shirt" class="sq-embed-item"> on Square Market</a>
    <a href="https://squareup.com/market/commonwealth-skateboarding/commonwealth-t-shirt" class="sq-embed-item"> on Square Market</a>
    <script src="https://cdn.sq-api.com/market/embed.js" charset="utf-8"></script> -->
</section>
}