<aside id="info">
    <div class="hours" itemscope itemtype="http://schema.org/LocalBusiness">

            <ul class="general">
                    <li>
                            <strong>Weekdays</strong>
                            <p><time itemprop="openingHours" datetime="Mo-Fr 14:00+8:00 20:00+8:00">2pm-8pm</time></p>
                    </li>
                    <li>
                            <strong>Weekends</strong>
                            <p><time itemprop="openingHours" datetime="Sa-Su 12:00+8:00 20:00+8:00">12pm-8pm</time></p>
                    </li>
            </ul>

            <ul class="sessions">
                    <li class="heading">
                            <strong>Sessions (Summer Hours)</strong>
                    </li>
                    <li>
                            <span class="name">Olds Nights (21+)</span>
                            <p class="day">Mondays</p>
                            <p class="time"><time itemprop="openingHours" datetime="Mo 20:00+8:00 22:00+8:00">8pm-10pm</time></p>
                    </li>
                    <li>
                            <span class="name">Late-Night Fridays (All Ages)</span>
                            <p class="day">Fridays</p>
                            <p class="time"><time itemprop="openingHours" datetime="Fr 20:00+8:00 22:00+8:00">'til 10pm</time></p>
                    </li>
                    <li>
                            <span class="name">Kids Only (14 &amp; Under)</span>
                            <p class="day">Saturdays</p>
                            <p class="time"><time itemprop="openingHours" datetime="Sa 10:00+8:00 12:00+8:00">10am-12pm</time></p>
                    </li>
                    <li>
                            <span class="name">Skate Like a Girl (All Ages)</span>
                            <p class="day">Sundays*</p>
                            <p class="time"><time itemprop="openingHours" datetime="Su 9:30+8:00 13:00+8:00">9:30am-1pm</time></p>
                            <p class="note">*Details @@ <a href="http://www.skatelikeagirlpdx.com/#!clinics/c13y0" target="_blank">their website</a></p>
                    </li>
            </ul>

    </div> <!-- /hours -->

    <div class="pricing">
            <ul>
                    <li>
                            <strong>2-Hours</strong>
                            <p><sup>$</sup>9</p>
                    </li>
                    <li>
                            <strong>All-Day</strong>
                            <p><sup>$</sup>12</p>
                    </li>
                    <li>
                            <strong>Unlimited</strong>
                            <p><sup>$</sup>65/mo</p>
                    </li>
            </ul>
    </div> <!-- /pricing -->

    <div class="contact">
      <strong>Get in Touch</strong>
      <a class="button" href="tel:1-503-208-2080">
        <i class="fas fa-phone"></i> (503) 208-2080
      </a>
      <a class="button" href="mailto:info&#64;commonwealthskateboarding.com">
        <i class="fas fa-envelope"></i> Email
      </a>
    </div> <!-- /contact -->

    <div class="instafeed">
        <p><i class="fab fa-instagram"></i> <a href="https://instagram.com/commonwealthskate/">commonwealthskate</a></p>

        <script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/029f9fc605cd53e19b088fec5211721b.html" id="lightwidget_029f9fc605" name="lightwidget_029f9fc605"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
    </div>
</aside>
