@()

@main("store", false, "Online Store | Commonwealth Skateboarding | Portland, Oregon") {

<section id="store">
	<p class="h1">Don't leave the house</p>
	<h2>Online Store</h2>

	<ul class="items grid">

		<!-- Thrilled Stock -->
		<li class="item">
			<a href="https://commonwealth.thrilled.com" class="img">
				<img src="@routes.Assets.at("img/store/thrilled_gear1.png")" />
			</a>

			<p>Our friends at <a href="http://www.thrilled.com" target="_blank">Thrilled</a> are helping us sell CW and Bernie Shreds gear beyond the walls of Commonwealth!</p>
		</li>

		<!-- Bernie Shreds Stickers -->
		<li class="item">
			<a href="https://www.stickermule.com/marketplace/10533-bernie-shreds" target="_blank" class="img">
				<img src="http://i.imgur.com/XZBYake.jpg" alt="bernie sanders skateboarding sticker" />
			</a>

			<p>You can get the Bernie Shreds stickers at <a href="https://www.stickermule.com/marketplace/10533-bernie-shreds">Stickermule</a>. They're also available in the shop if you'd prefer to pay a bit less and support local printer <a href="https://www.instagram.com/fortkurtisprinting/" target="_blank">Fort Kurtis</a>.</p>
		</li>

		<!-- Original Shark Deck -->
		<!-- <li class="item">
			<a href="https://squareup.com/market/commonwealth-skateboarding/commonwealth-shark-deck" class="sq-embed-item"> on Square Market</a>
		</li> -->

		<!-- Foot & Wings Shirt -->
		<!-- <li class="item">
      <a href="https://squareup.com/market/commonwealth-skateboarding/foot-wings-t-shirt" class="sq-embed-item"> on Square Market</a>
    </li> -->

    <!-- Portlandia Shirt? -->
		<!-- <li class="item">
    	<a href="https://squareup.com/market/commonwealth-skateboarding/commonwealth-t-shirt" class="sq-embed-item"> on Square Market</a>
    </li> -->
	</ul>
   
  <!-- Square API -->
  <!-- <script src="https://cdn.sq-api.com/market/embed.js" charset="utf-8"></script> -->
 </section>
}