<p class="highlight">
	<span>In consideration of being allowed to participate in any way in Commonwealth Skateboarding, related events and activities, I  acknowledge, appreciate, and agree that:</span>
</p>

<ol>
	<li>The risk of injury from the activities involved in this program is significant, including the potential for permanent paralysis and death, and while particular rules, equipment, and personal discipline may reduce this risk, the risk of serious injury does exist: and,</li>

	<li>I am aware that the usual risks, hazards and dangers of personal injury, death and disability increase when using ramps, curbs, steps, half pipes, inclines, or declines, bowls or any other structure or device. I also understand that these risks, hazards and dangers are further increased when other persons, whether of the same level of experience or skill, are using the same facilities; and,</li>

	<li>I KNOWINGLY AND FREELY ASSUME ALL SUCH RISKS, both known and unknown, EVEN IF ARISING FROM THE NEGLIGENCE OF RELEASEES or others, and assume full responsibility for my participation; and,</li>

	<li>I willingly agree to comply with the stated and customary terms and conditions for participation. If, however, I observe any unusual significant hazard during my presence or participation, I will remove myself from participation and bring such to the attention of the nearest official immediately; and,</li>

	<li>By this Agreement, it is my intention to surrender and waive any rights to sue or exercise any legal right to seek damages from Last Place Footwear Inc. or Commonwealth Skateboarding, LLC, and their agents, servants, employees, officers, directors, trustees and all other persons or entities acting on their behalf; and,</li>

	<li>I acknowledge that my participation in or the viewing and spectating of activities at Commonwealth is strictly voluntary in spite of the risks and dangers and that no one is forcing me to participate or view and spectate; and,</li>

	<li>I give my consent and permission to Commonwealth to obtain on my behalf of myself or my minor child any emergency medical treatment in case of sickness, accident or injury and to secure such medical attention at my expense; and,</li>

	<li>I, for myself and on behalf of my heirs, assigns, personal representatives, and next of kin, HEREBY RELEASE AND HOLD HARMLESS Commonwealth Skateboarding, their officers, officials, agents and/or employees, other participants, sponsoring agencies, sponsors, advertisers, and, if applicable, owners and lessors of premises used to conduct the event (Releases). WITH RESPECT TO ANY AND ALL INURY, DISABILITY, DEATH, or loss or damage to person or property, WHETHER ARISING FROM THE NEGLIGENCE OF THE RELEASEES OR OTHERWISE.</li>
</ol>

<p class="highlight">
	<span>By checking this box, I hereby certify that:
		<ul>
			<li>I am over 18 years of age.</li>
			<li>I have read this Release of Liability and Assumption of Risk Agreement, fully understand its terms, understand that I have given up substantial rights by agreeing to it, and agree to it freely and voluntarily without any inducement.</li>
			<li>I am aware that by signing this agreement, I assume all risks and waive and release certain substantial rights that I may possess.</li>
		</ul>
	</span>
</p>