@(member: models.skatepark.Membership, localUser: models.security.User = null)
@import admin.wrapper
@wrapper(localUser, "member", "existingMembers") {
<h3><i class="fa fa-angle-right"></i> Membership Database</h3>
<div class="row mt">
    <div class="col-lg-12">
        <div class="form-panel">
            <a href="@routes.Admin.viewMemberPage(member.id)" class="btn btn-theme pull-right">View</a>
            <h4 class="mb"><i class="fa fa-angle-right"></i> Edit Member</h4>
            <form action="@routes.Admin.updateMembership(member.id)" method="post" class="form-horizontal style-form">
                <label>Name:</label><br/><input type="text" name="name" value="@member.name" class="form-control" /><br/>
                <label>Parent Name:</label><br/><input type="text" name="parentName" value="@member.parentName" class="form-control" /><br/>
                <label>Address:</label><br/><input type="text" name="address" value="@member.address" class="form-control" /><br/>
                <label>City:</label><br/><input type="text" name="city" value="@member.city" class="form-control" /><br/>
                <label>State:</label><br/><input type="text" name="state" value="@member.state" class="form-control" /><br/>
                <label>Zipcode:</label><br/><input type="text" name="zipcode" value="@member.zipcode" class="form-control" /><br/>
                <label>Country:</label><br/><input type="text" name="country" value="@member.country" class="form-control" /><br/>
                <label>Birth Date:</label><br/><input name="birthDate" id="datepicker" value="@if(null != member.birthDate) { @member.birthDate.format("MM/dd/yyyy") }" class="form-control" /><br/>
                <label>Telephone:</label><br/><input type="text" name="telephone" value="@member.telephone" class="form-control" /><br/>
                <label>Email Address:</label><br/><input type="text" name="email" value="@member.email" class="form-control" /><br/>
                <label>Emergency Contact Name:</label><br/><input type="text" name="emergencyContactName" value="@member.emergencyContactName" class="form-control" /><br/>
                <label>Emergency Contact Number:</label><br/><input type="text" name="emergencyContactNumber" value="@member.emergencyContactNumber" class="form-control" /><br/>
                <label>Notes:</label><br/><textarea name="notes" id="notes">@member.notes</textarea><br/>
                <input type="submit" id="submit" value="Edit Member" class="btn btn-theme"/>
            </form>
        </div>
    </div>
</div><!-- col-lg-12-->
</div><!-- /row -->
<script>
        $(document).ready(function(){
            $("#datepicker").datepicker({});
            $("#notes").cleditor({});
        });
    </script>
}
