@(member: models.skatepark.Membership, logs: List[models.security.AuditRecord], localUser: models.security.User = null)
@import admin.wrapper
@import models.skatepark.Visit._
@wrapper(localUser, "member", "existingMembers") {
<h3><i class="fa fa-angle-right"></i> Membership Database</h3>
<div class="col-lg-8 col-md-8 col-sm-8">
    @if(member.isCheckedInToday()) {
        @if(member.lastVisit.isValidNow()) {
            <div class="alert alert-success">
                <h2 class="text-center"><i class="fa fa-check-circle"></i> @member.name Checked In Today!</h2>
                @if(member.lastVisit.visitType == VisitType.SESSION) {
                    <p class="text-center">The pass will expire in <span class="timeago" title="@member.lastVisit.expires.format("yyyy-MM-dd'T'HH:mmZ")"></span></p>
                    <p class="text-center"><a href="@routes.Admin.extendSessionVisit(member.lastVisit.id)" class="btn btn-success btn-block">Upgrade the pass to all-day</a></p>
                }
            </div>
        } else {
            <div class="alert alert-danger">
                <h2 class="text-center"><i class="fa fa-check-circle"></i> @member.name Checked In Today!</h2>
                <p class="text-center">But the pass expired <span class="timeago" title="@member.lastVisit.expires.format("yyyy-MM-dd'T'HH:mmZ")"></span></p>
                @if(member.lastVisit.visitType == VisitType.SESSION) {
                    <p class="text-center"><a href="@routes.Admin.extendSessionVisit(member.lastVisit.id)" class="btn btn-danger btn-block">Upgrade the pass to all-day</a></p>
                }
            </div>
        }
    } else {
        <div class="alert alert-info">
            <h2 class="text-center">@member.name</h2>
            @if(null != member.lastVisit) {
                <p class="text-center">last checked in <span class="timeago" title="@member.lastVisit.time.format("yyyy-MM-dd'T'HH:mmZ")"></span></p>
            }
            @if(null == member.getMostValidUnlimitedPass()) {
                <p class="text-center">
                    @if(member.sessionPasses > 0) {
                        <a href="@routes.Admin.sessionVisit(member.id, false)" class="btn btn-success">Use a saved session pass (@member.sessionPasses left)</a>
                    } else {
                        <a href="@routes.Admin.sessionVisit(member.id, true)" class="btn btn-danger">Buy a session pass for today</a>
                    }
                    @if(member.allDayPasses > 0) {
                        <a href="@routes.Admin.allDayVisit(member.id, false)" class="btn btn-info">Use a saved all-day pass (@member.allDayPasses left)</a>
                    } else {
                        <a href="@routes.Admin.allDayVisit(member.id, true)" class="btn btn-warning">Buy an all-day pass for today</a>
                    }
                </p>
            } else {
                <p class="text-center"><a href="@routes.Admin.memberPassVisit(member.id, member.getMostValidUnlimitedPass().id)" class="btn btn-success">Check in with unlimited pass</a></p>
            }
        </div>
    }
    <div class="showback">
        <a href="@routes.Admin.editMemberPage(member.id)" class="btn btn-theme pull-right">Edit</a>
        <h4><i class="fa fa-angle-right"></i> Member Details</h4>
        <table class="table table-bordered">
            <tr>
                <td>Name</td>
                <td>@member.name</td>
            </tr>
            <tr>
                <td>Parent Name</td>
                <td>@member.parentName</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>@member.address</td>
            </tr>
            <tr>
                <td>City</td>
                <td>@member.city</td>
            </tr>
            <tr>
                <td>State</td>
                <td>@member.state</td>
            </tr>
            <tr>
                <td>Zipcode</td>
                <td>@member.zipcode</td>
            </tr>
            <tr>
                <td>Country</td>
                <td>@member.country</td>
            </tr>
            <tr>
                <td>Birth Date</td>
                <td>@if(null != member.birthDate) { @member.birthDate.format("MM/dd/yyyy") }</td>
            </tr>
            <tr>
                <td>Telephone</td>
                <td>@member.telephone</td>
            </tr>
            <tr>
                <td>Email Address</td>
                <td>@member.email</td>
            </tr>
            <tr>
                <td>Emergency Contact Name</td>
                <td>@member.emergencyContactName</td>
            </tr>
            <tr>
                <td>Emergency Contact Number</td>
                <td>@member.emergencyContactNumber</td>
            </tr>
            @if(member.emergencyContactNameB || member.emergencyContactNumberB) {
                <tr>
                    <td>Emergency Contact Name #2</td>
                    <td>@member.emergencyContactNameB</td>
                </tr>
                <tr>
                    <td>Emergency Contact Number #2</td>
                    <td>@member.emergencyContactNumberB</td>
                </tr>
            }
            @if(member.emergencyContactNameC || member.emergencyContactNumberC) {
                <tr>
                    <td>Emergency Contact Name #3</td>
                    <td>@member.emergencyContactNameC</td>
                </tr>
                <tr>
                    <td>Emergency Contact Number #3</td>
                    <td>@member.emergencyContactNumberC</td>
                </tr>
            }
            <tr>
                <td>Notes</td>
                <td>@Html(member.notes)</td>
            </tr>
        </table>
    </div>
    <div class="showback">
        <h4><i class="fa fa-angle-right"></i> Records Within The Last Month</h4>
        <section id="unseen">
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Action</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                @for(log <- logs) {
                    <tr>
                        <td><img src="@log.user.photoUrl" class="img-circle" width="20"> @log.user.name</td>
                        <td>
                            @log.delta
                            @if((null != log.visit) && (log.visit.isValidNow())) {
                            <a href="@routes.Admin.undoVisit(log.visit.id)" class="pull-right">
                                <span class="label label-warning">Undo/Refund</span></a>
                            }
                        </td>
                        <td><span class="timeago" title="@log.timestamp.format("yyyy-MM-dd'T'HH:mmZ")"></span></td>
                    </tr>
                }
                </tbody>
            </table>
        </section>
    </div>
</div>

<div class="col-lg-4 col-md-4 col-sm-4">
    <div class="showback">
        <h4 class="pull-right"><span class="label @if(member.credit != null && member.credit<0){label-danger}else{label-default}">@utils.Formatter.prettyDollarsAndCents(member.credit)</span></h4>
        <h4><i class="fa fa-angle-right"></i> Food Credit</h4>
        <div class="collapse-group">
            <form action="@routes.Admin.addCredit(member.id)" method="post" class="form-inline collapse text-center" role="form">
                <div class="form-group">
                    <div class="input-group">
                        <label class="sr-only" for="addAmount">Add credit amount</label>
                        <div class="input-group-addon">$</div>
                        <input type="text" name="amount" class="form-control" id="addAmount" placeholder="0.00">
                    </div>
                </div>
                <button type="submit" class="btn btn-default">Add Credit</button>
                <br>
            </form>
            <p><a class="btn btn-xs btn-default btn-block" id="addCredit" href="#">Add Credit &raquo;</a></p>
        </div>
        <div class="collapse-group">
            <form action="@routes.Admin.subtractCredit(member.id)" method="post" class="form-inline collapse text-center" role="form">
                <div class="form-group">
                    <div class="input-group">
                        <label class="sr-only" for="subtractAmount">Subtract credit amount</label>
                        <div class="input-group-addon">$</div>
                        <input type="text" name="amount" class="form-control" id="subtractAmount" placeholder="0.00">
                    </div>
                </div>
                <button type="submit" class="btn btn-default">Subtract Credit</button>
                <br>
            </form>
            <p><a class="btn btn-xs btn-default btn-block" id="subtractCredit" href="#">Subtract Credit &raquo;</a></p>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-4 col-sm-4">
    <div class="showback">
        <h4><i class="fa fa-angle-right"></i> Unlimited Passes</h4>
        <div class="row">
        @for(pass <- member.getUnlimitedPassesForDisplay()) {
            <div class="col-md-12 @if(pass.isValid()) { bg-success } else { bg-warning }">
                <div class="collapse-group">
                    <form action="@routes.Admin.editUnlimitedPass(pass.id)" method="post" class="form-inline collapse text-center" role="form">
                        <div class="form-group">
                            <div class="input-group">
                                <input name="startDate" class="form-control" id="datepickerA@pass.id" value="@pass.starts.format("MM/dd/yyyy")" placeholder="Start Date"/>
                                <input name="expireDate" class="form-control" id="datepickerB@pass.id" value="@pass.expires.format("MM/dd/yyyy")" placeholder="End Date"/>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-block btn-default">Update Pass Info</button>
                        <a href="@routes.Admin.removeUnlimitedPass(pass.id)" class="btn btn-block btn-danger">Delete this pass (can't undo)</a>
                    </form>
                    <p><a class="btn pull-right" id="modifyPass@pass.id" href="#">Edit</a></p>
                </div>
                <h4>@pass.starts.format("MM/dd/yyyy") - @pass.expires.format("MM/dd/yyyy")</h4>
                @if(pass.isValid()) {
                    <div class="col-md-12 mb">
                        <a href="@routes.Admin.memberPassVisit(member.id, pass.id)" class="btn btn-success btn-block @if(member.isCheckedInToday()) { disabled }">Check In</a>
                    </div>
                }
            </div>
        }
        </div>
        <div>
            <div class="collapse-group">
                <form action="@routes.Admin.addUnlimitedPass(member.id)" method="post" class="form-horizontal collapse">
                    <input name="startDate" class="form-control" id="datepicker" placeholder="Start Date"/>
                    <select name="length" class="form-control">
                        <option value="1">1 month</option>
                        <option value="2">2 months</option>
                        <option value="3">3 months</option>
                        <option value="4">4 months</option>
                        <option value="5">5 months</option>
                        <option value="6">6 months</option>
                    </select>
                    <input type="submit" id="submit_unlimited_pass" value="Add Unlimited Pass" class="btn btn-theme btn-block"/>
                </form>
                <p><a class="btn btn-xs btn-default btn-block" id="addUnlimitedPass" href="#">Add Unlimited Pass &raquo;</a></p>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-4 col-sm-4">
    <div class="showback">
        <h4 class="pull-right"><span class="label label-default">@member.sessionPasses Remaining</span></h4>
        <h4><i class="fa fa-angle-right"></i> Session Passes</h4>
        <p><a href="@routes.Admin.sessionVisit(member.id)" class="btn btn-theme btn-block @if(0 == member.sessionPasses || member.isCheckedInToday()) { disabled } ">Check In</a></p>
        <a href="@routes.Admin.addSessionPass(member.id, 1)" class="btn btn-xs btn-default btn-block">Add 1 Pass</a>
        <a href="@routes.Admin.addSessionPass(member.id, 10)" class="btn btn-xs btn-default btn-block">Add 10 Passes</a>
        <a href="@routes.Admin.subtractSessionPass(member.id)" class="btn btn-xs btn-default btn-block @if(0 == member.sessionPasses) { disabled }">Subtract</a>
    </div>
</div>

<div class="col-lg-4 col-md-4 col-sm-4">
    <div class="showback">
        <h4 class="pull-right"><span class="label label-default">@member.allDayPasses Remaining</span></h4>
        <h4><i class="fa fa-angle-right"></i> All Day Passes</h4>
        <p><a href="@routes.Admin.allDayVisit(member.id)" class="btn btn-theme btn-block @if(0 == member.allDayPasses || member.isCheckedInToday()) { disabled } ">Check In</a></p>
        <a href="@routes.Admin.addAllDayPass(member.id)" class="btn btn-xs btn-default btn-block">Add</a>
        <a href="@routes.Admin.subtractAllDayPass(member.id)" class="btn btn-xs btn-default btn-block @if(0 == member.allDayPasses) { disabled }">Subtract</a>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#datepicker").datepicker({'autoclose':true});
        $("#addUnlimitedPass").on('click', function(e) {
            e.preventDefault();
            var $this = $(this);
            var $collapse = $this.closest('.collapse-group').find('.collapse');
            $collapse.collapse('toggle');
        });
        $("#addCredit").on('click', function(e) {
            e.preventDefault();
            var $this = $(this);
            var $collapse = $this.closest('.collapse-group').find('.collapse');
            $collapse.collapse('toggle');
        });
        $("#subtractCredit").on('click', function(e) {
            e.preventDefault();
            var $this = $(this);
            var $collapse = $this.closest('.collapse-group').find('.collapse');
            $collapse.collapse('toggle');
        });
        @for(pass <- member.getUnlimitedPassesForDisplay()) {
            $("#modifyPass@pass.id").on('click', function(e) {
                $("#datepickerA@pass.id").datepicker({});
                $("#datepickerB@pass.id").datepicker({});
                e.preventDefault();
                var $this = $(this);
                var $collapse = $this.closest('.collapse-group').find('.collapse');
                $collapse.collapse('toggle');
            });
        }
        $("span.timeago").timeago();
    });
</script>
}

